{# AppBundle/Resources/views/Entity/Student/layout.html.twig #}
{% extends 'AppBundle:Dashboard/State:index.html.twig' %}

{% block title %}
    {{ 'student_read'|trans({}, 'routes') }} | {{ 'dashboard.title'|trans }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/css/students.bundle.min.css') }}">
{% endblock %}

{% block content %}
    <section class="outer" id="info-holder">
        <div class="top-info-panel">

            {% block action_top %}{% endblock %}

        </div>

        {% block variable %}
            <div class="outer scrollable-holder">
                <div class="inner scrollable">

                    {% block data %}{% endblock %}

                </div>
            </div>
            <div class="bottom-info-panel">

                {% block action_bottom %}{% endblock %}

            </div>
        {% endblock %}
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/dashboard/js/students.bundle.min.js') }}"></script>
{% endblock %}

{#{% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\StudentVoter::STUDENT_DELETE'), student) %}
    <p>
        <a href="{{ path('student_delete', { 'id': student.id }) }}">Удалить</a>
    </p>
{% endif %}

<p>-------------------------------------------------------------------------------------------------</p>
<p>Родитель:</p>
<p>-------------------------------------------------------------------------------------------------</p>
{% include 'AppBundle:Entity/Customer/Binding:ancestors.html.twig' with { 'sibling': student } only %}

{% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\StudentVoter::STUDENT_BIND'), student) %}
    <p>-------------------------------------------------------------------------------------------------</p>
    <p>
        <a href="{{ path('nfc_tag_choose', { 'objectClass': class(student)|lower, 'objectId': student.id }) }}">@ Привязать NFC-метку</a>
    </p>
{% endif %}

<p>-------------------------------------------------------------------------------------------------</p>
<p>NFC-метка:</p>
<p>-------------------------------------------------------------------------------------------------</p>
{% if student.nfcTag %}
    {{ render(controller('AppBundle:Binding/NfcTag:show', { 'objectClass': class(student)|lower, 'objectId': student.id })) }}
{% endif %}

{% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\StudentVoter::STUDENT_BIND'), student) %}
    <p>-------------------------------------------------------------------------------------------------</p>
    <p>
        <a href="{{ path('product_choose', { 'objectClass': class(student)|lower, 'objectId': student.id }) }}">@ Запретить продукт</a>
    </p>
{% endif %}

<p>-------------------------------------------------------------------------------------------------</p>
<p>Запрещенные продукты:</p>
<p>-------------------------------------------------------------------------------------------------</p>
{% if student.products %}
    {{ render(controller('AppBundle:Binding/Product:show', { 'objectClass': class(student)|lower, 'objectId': student.id })) }}
{% endif %}#}