{# AppBundle/Resources/views/Entity/Supplier/CRUD/readList.html.twig #}
{% extends 'AppBundle:Entity/Supplier/Base:table.html.twig' %}

{% block action_items_th %}
    <th colspan="2" class="double-small-fixed">
        <span>управление</span>
    </th>
{% endblock %}

{% block action_items_tr %}

    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\SupplierVoter::SUPPLIER_UPDATE'), supplier) %}

        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\SupplierVoter::SUPPLIER_DELETE'), supplier) %}
            <td class="small-fixed edit-holder">
                <div class="btn-edit">
                    <a href="{{ path('supplier_update', { 'id': supplier.id }) }}" class="icon hrd-edit"></a>
                </div>
            </td>
            <td class="small-fixed delete-holder">
                <div class="btn-delete">
                    <a href="{{ path('supplier_delete', { 'id': supplier.id }) }}" class="icon hrd-delete"></a>
                </div>
            </td>
        {% else %}
            <td class="double-small-fixed edit-holder">
                <div class="btn-view">
                    <a href="{{ path('supplier_update', { 'id': supplier.id }) }}" class="icon hrd-edit"></a>
                </div>
            </td>
        {% endif %}

    {% else %}
        <td class="double-small-fixed view-holder">
            <div class="btn-view">
                <a href="{{ path('supplier_read', { 'id': supplier.id }) }}" class="icon hrd-view"></a>
            </div>
        </td>
    {% endif %}

{% endblock %}

{% block action_button %}
    {% if supplier_boundless_access.isGranted(constant('AppBundle\\Service\\Security\\SupplierBoundlessAccess::SUPPLIER_CREATE')) %}
        <div id="action-holder">
            <div class="btn-add">
                <a href="{{ path('supplier_create') }}">
                    <span class="icon hrd-add"></span>Добавить
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}