{# AppBundle/Resources/views/Entity/NfcTag/Table/tr.html.twig #}
<td class="small-fixed"><span>{{ nfcTag.id }}</span></td>
<td>
    {% set nfcTagNumber = nfcTag.number ~ ' ' ~ (( nfcTag.pseudoDeleted ) ? '[УДАЛЕНО]') %}

    {% if nfcTag.student %}
        {% if nfcTag.isActivated %}
            {% set statusClass = 'ready' %}
        {% else %}
            {% set statusClass = 'pending' %}
        {% endif %}

        <span class="status {{ statusClass }}">
            {{ nfcTagNumber }}
        </span>
    {% else %}
        <span>
            {{ nfcTagNumber }}
        </span>
    {% endif %}
</td>
<td>
    <span>
        {{ nfcTag.code }}
    </span>
</td>
<td>
    <span>
        {{ ( nfcTag.student ) ? nfcTag.student.fullName : '-' }}
    </span>
</td>
<td>
    <span>
        {{ ( nfcTag.student ) ? (( nfcTag.student.school ) ? nfcTag.student.school.name : '-') : '-' }}
    </span>
</td>
