{# AppBundle/Resources/views/Website/Common/header.html.twig #}
<header id="header">
    <div class="inner">
        <div class="logo">
            <a href="{{ path('website_index', { '_locale': app.request.locale }) }}">
                <img src="{{ asset('bundles/app/website/images/logo.png') }}" alt="Дорога Здоров'я - Здорове шкільне харчування">
            </a>
        </div>
        <div class="info-holder">
            <ul class="langs-holder">
                <li class="active"><a href="#">ua</a></li>
                <li><a href="#">ru</a></li>
            </ul>
            <div class="btn-large">
                <a href="#">Вхід для батьків</a>
            </div>
            <span class="sprtr-v"></span>

            <ul class="phones-holder">

                {% if contacts.support_center_mts %}
                    <li>
                        <a href="tel:{{ contacts.support_center_mts.phoneNumber|replace({ ' ': '', '(': '', ')': '', '-': '' }) }}" title="{{ contacts.support_center_mts.title }}">
                            <span class="hr-mtc hr-small"></span>
                            {{ contacts.support_center_mts.phoneNumber|replace({ '-': ' ' }) }}
                        </a>
                    </li>
                {%  endif %}

                {% if contacts.support_center_kyivstar %}
                    <li>
                        <a href="tel:{{ contacts.support_center_kyivstar.phoneNumber|replace({ ' ': '', '(': '', ')': '', '-': '' }) }}" title="{{ contacts.support_center_kyivstar.title }}">
                            <span class="hr-kstar hr-small"></span>
                            {{ contacts.support_center_kyivstar.phoneNumber|replace({ '-': ' ' }) }}
                        </a>
                    </li>
                {%  endif %}

                {% if contacts.support_center_life %}
                    <li>
                        <a href="tel:{{ contacts.support_center_life.phoneNumber|replace({ ' ': '', '(': '', ')': '', '-': '' }) }}" title="{{ contacts.support_center_life.title }}">
                            <span class="hr-life hr-small"></span>
                            {{ contacts.support_center_life.phoneNumber|replace({ '-': ' ' }) }}
                        </a>
                    </li>
                {%  endif %}

            </ul>

            {% if contacts.support_center %}

                <ul class="call-center-holder">
                    <li>
                        <h3>{{ contacts.support_center.title }}</h3>
                    </li>
                    <li>
                        <span>пн-пт: {{ contacts.support_center.schedule }}</span>
                    </li>
                    <li>
                        <a href="{{ path('website_feedback', { '_locale': app.request.locale }) }}">зворотній зв'язок</a>
                    </li>
                </ul>

            {%  endif %}

        </div>
    </div>
    <div id="toggle-menu">
        <span>Меню</span>
    </div>
    <div id="menu-holder">
        <div class="inner">
            <nav class="menu">

                {{ knp_menu_render('main', {'currentClass': 'active'}) }}

            </nav>
        </div>
    </div>
</header>