{# AppBundle/Resources/views/Website/Common/preFooter.html.twig #}
<section class="pre-footer">
    <div class="inner">
        <div class="part contacts">
            <h3>Контакти</h3>
            <span class="sprtr-h"></span>
            <ul>

                {% if contacts.support_center %}
                    <li>
                        <span class="item">
                            <span class="hr-pin"></span>
                            {{ contacts.support_center.mail }}
                        </span>
                    </li>
                {% endif %}

                <li>

                    {% if contacts.support_center_mts %}
                        <span class="item">
                            <span class="hr-mtc"></span>
                            {{ contacts.support_center_mts.phoneNumber }}
                        </span>
                    {% endif %}

                    {% if contacts.support_center_kyivstar %}
                        <span class="item">
                            <span class="hr-kstar"></span>
                            {{ contacts.support_center_kyivstar.phoneNumber }}
                        </span>
                    {% endif %}

                    {% if contacts.support_center_life %}
                        <span class="item">
                            <span class="hr-life"></span>
                            {{ contacts.support_center_life.phoneNumber }}
                        </span>
                    {% endif %}

                </li>

                {% if contacts.support_center %}
                    <li>
                        <span class="item">
                            <span class="hr-email"></span>
                            {{ contacts.support_center.email }}
                        </span>
                    </li>
                {% endif %}

            </ul>
        </div>
        <div class="part navigation">
            <h3>Всі розділи</h3>
            <span class="sprtr-h"></span>
            <div class="list-holder">

                {{ knp_menu_render('footer') }}

            </div>
        </div>
        <div class="part entrance">
            <h3>Вхід для батьків</h3>
            <span class="sprtr-h"></span>

            {% include 'AppBundle:Office/Security/Login:form.html.twig' with { 'lastUsername': null, 'error': null } only %}
            <a href="{{ path('customer_office_replenish') }}" class="replenish">
                поповнити рахунок
            </a>
        </div>
    </div>
</section>
