{# src/AppBundle/Resources/views/Entity/ActivationNfcTag/Form/activationNfcTag.html.twig #}
{% form_theme form 'AppBundle:Dashboard/Form/Theme:form.html.twig' %}
<div id="account-activation-widget">

    <div class="active-holder">
        <span>NFC-метка не активирована</span>
    </div>

    <form action="{{ form.vars.action }}" method="POST">



        <div class="field-holder">

            {{ form_widget(form.activationFee, {
                'attr': {
                    'checked': 'checked'
                }
            }) }}
            <label for="activation_nfc_tag_activationFee">
                <span class="radio"></span>
                <span class="text">{{ form.activationFee.vars.label }}</span>
            </label>

        </div>

        {#{{ form_label(form.activationFee) }}#}
        {{ form_widget(form._token) }}

        <button type="submit">
            <span>{{ 'common.activate.label'|trans({}, 'forms') }}</span>
        </button>

    </form>
</div>
