{# AppBundle/Resources/views/Entity/Employee/Form/form.html.twig #}
{#{{ form_start(form) }}
    {{ form_errors(form) }}

    <p>Системные данные:</p>
    {{ ( form.username is defined ) ? form_row(form.username) : null }}
    {{ ( form.password is defined ) ? form_row(form.password) : null }}
    {{ ( form.isEnabled is defined ) ? form_row(form.isEnabled) : null }}

    {{ ( form.employeeGroup is defined ) ? form_row(form.employeeGroup) : null }}

    <p>Персональные данные:</p>
{{ form_end(form) }}#}

<form action="#" method="POST" id="add-staff-form">
    <div class="field-holder">
        <input type="text" name="staff[username]" value="" placeholder="Введите предпочитаемое имя пользователя" id="staff-username" data-rule-required="true" data-msg-required="Вы не ввели имя пользователя">
        <label for="staff-username">Имя пользователя</label>
    </div>
    <div class="field-holder">
        <input type="password" name="staff[password]" value="" placeholder="Введите ваш пароль" id="staff-password" data-rule-required="true" data-msg-required="Вы не ввели пароль">
        <label for="staff-password">Пароль</label>
    </div>
    <div class="field-holder">
        <input type="password" name="staff[confirm-password]" value="" placeholder="Подтвердите ваш пароль" id="staff-confirm-password" data-rule-required="true" data-msg-required="Вы не подтвердили ваш пароль">
        <label for="staff-confirm-password">Подтвердите пароль</label>
    </div>
    <div class="select-holder">
        <div class="btn-select">
            <a href="#">
                <div class="title-holder">
                    <span class="title">Должность</span>
                    <span class="icon hrd-list"></span>
                </div>
                <span class="text">Выберите должность сотрудника</span>
            </a>
        </div>
        <!--span class="error-holder">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span-->
        <div class="select-list">
            <div class="outer">
                <div class="inner">
                    <ul>
                        <li class="option-item" data-option="1"><span class="option-name">Администратор</span></li>
                        <li class="option-item" data-option="2"><span class="option-name">Менеджер</span></li>
                        <li class="option-item" data-option="3"><span class="option-name">Регистратор</span></li>
                        <li class="option-item" data-option="4"><span class="option-name">Аккаунтер</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <input type="hidden" name="staff[role]" value="">
    </div>
    <div class="field-holder">
        <input type="text" name="staff[name]" value="" placeholder="Введите имя сотрудника" id="staff-name" data-rule-required="true" data-msg-required="Вы не ввели имя сотрудника">
        <label for="staff-name">Имя сотрудника</label>
    </div>
    <div class="field-holder">
        <input type="text" name="staff[surname]" value="" placeholder="Введите фамилию сотрудника" id="staff-surname" data-rule-required="true" data-msg-required="Вы не ввели фамилию сотрудника">
        <label for="staff-surname">Фамилия сотрудника</label>
    </div>
    <div class="field-holder">
        <input type="text" name="staff[patronymic]" value="" placeholder="Введите отчество сотрудника" id="staff-patronymic" data-rule-required="true" data-msg-required="Вы не ввели отчество сотрудника">
        <label for="staff-patronymic">Отчество сотрудника</label>
    </div>
    <div class="field-holder">
        <input type="email" name="staff[email]" value="" placeholder="Введите электронный адрес сотрудника" id="staff-email" data-rule-required="true" data-msg-required="Вы не ввели электронный адрес сотрудника" data-rule-email="true" data-msg-email="Вы не правильно ввели электронный адрес">
        <label for="staff-email">Электронный адрес</label>
    </div>
    <div class="field-holder">
        <input type="tel" name="staff[phone]" value="" placeholder="+38 (999) 999-9999" id="staff-phone" data-rule-required="true" data-msg-required="Вы не ввели телефонный номер сотрудника" data-mask="+38 (999) 999-9999">
        <label for="staff-phone">Телефонный номер</label>
    </div>
    <div class="field-holder">
        <input type="text" name="staff[skype]" value="" placeholder="Введите skype сотрудника" id="staff-skype" data-rule-required="true" data-msg-required="Вы не ввели skype сотрудника">
        <label for="staff-skype">Skype сотрудника</label>
    </div>
</form>