{# AppBundle/Resources/views/Entity/VendingMachine/Form/form.html.twig #}
{% form_theme form 'AppBundle:Dashboard/Form/Theme:errors.html.twig' %}

<form action="{{ form.vars.action }}" method="POST" id="add-staff-form">
    <div class="field-holder">
        {{ form_widget(form.serial, {
            'id': "vending-machine-serial",
            'attr': {
                'placeholder': "Введите серийный номер",
                'data-rule-required': "true", 'data-msg-required': 'vending_machine.serial.not_blank'|trans({}, "validators"),
                'data-rule-minlength': "1", 'data-msg-minlength': 'vending_machine.serial.length.min'|trans({}, "validators"),
                'data-rule-maxlength': "16", 'data-msg-maxlength': 'vending_machine.serial.length.max'|trans({}, "validators"),
                'value': ( vendingMachine is defined ) ? vendingMachine.serial
            }
        }) }}

        {{ form_label(form.serial) }}

        {{ form_errors(form.serial) }}
    </div>

    <div class="field-holder">
        {{ form_widget(form.login, {
            'id': "vending-machine-login",
            'attr': {
                'placeholder': "Введите логин для API-доступа",
                'data-rule-minlength': "4", 'data-msg-minlength': 'vending_machine.login.length.min'|trans({}, "validators"),
                'data-rule-maxlength': "64", 'data-msg-maxlength': 'vending_machine.login.length.max'|trans({}, "validators"),
                'value': ( vendingMachine is defined ) ? vendingMachine.login
            }
        }) }}

        {{ form_label(form.login) }}

        {{ form_errors(form.login) }}
    </div>

    <div class="field-holder">
        {{ form_widget(form.password, {
            'id': "vending-machine-password",
            'attr': {
                'placeholder': "Введите пароль для API-доступа",
                'data-rule-minlength': "8", 'data-msg-minlength': 'vending_machine.password.length.min'|trans({}, "validators"),
                'data-rule-maxlength': "64", 'data-msg-maxlength': 'vending_machine.password.length.max'|trans({}, "validators"),
                'value': ( vendingMachine is defined ) ? vendingMachine.password
            }
        }) }}

        {{ form_label(form.password) }}

        {{ form_errors(form.password) }}
    </div>

    <div class="select-holder">
        <div class="btn-select">
            <a href="#">
                <div class="title-holder">
                    <span class="title">Школа</span>
                    <span class="icon hrd-list"></span>
                </div>
                <span class="text">{{ ( form.school.vars.data ) ? form.school.vars.data.name : 'Выбрать...' }}</span>
            </a>
        </div>

        {% for error in form.school.vars.errors %}
            <span class="error-holder">{{ error.message }}</span>
        {% endfor %}

        <div class="select-list">
            <div class="outer">
                <div class="inner">
                    <ul>
                        {% for school in form.school.vars.choices %}
                            <li class="option-item {{ ( form.school.vars.data ) ? ( form.school.vars.data.id != school.value ) ?: 'active' : null }}" data-option="{{ school.value }}">
                                <span class="option-name">{{ school.label }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <input type="hidden" name="{{ form.school.vars.full_name }}" value="{{ ( form.school.vars.data ) ? form.school.vars.data.id : null }}">
    </div>

    <div class="select-holder">
        <div class="btn-select">
            <a href="#">
                <div class="title-holder">
                    <span class="title">Группа торговых автоматов</span>
                    <span class="icon hrd-list"></span>
                </div>
                <span class="text">{{ ( form.productVendingGroup.vars.data ) ? form.productVendingGroup.vars.data.name : 'Выбрать...' }}</span>
            </a>
        </div>

        {% for error in form.productVendingGroup.vars.errors %}
            <span class="error-holder">{{ error.message }}</span>
        {% endfor %}

        <div class="select-list">
            <div class="outer">
                <div class="inner">
                    <ul>
                        {% for productVendingGroup in form.productVendingGroup.vars.choices %}
                            <li class="option-item {{ ( form.productVendingGroup.vars.data ) ? ( form.productVendingGroup.vars.data.id != productVendingGroup.value ) ?: 'active' : null }}" data-option="{{ productVendingGroup.value }}">
                                <span class="option-name">{{ productVendingGroup.label }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <input type="hidden" name="{{ form.productVendingGroup.vars.full_name }}" value="{{ ( form.productVendingGroup.vars.data ) ? form.productVendingGroup.vars.data.id : null }}">
    </div>

    <div class="field-holder">
        {{ form_widget(form.name, {
            'id': "vending-machine-name",
            'attr': {
                'placeholder': "Введите имя торгового автомата : )",
                'data-rule-minlength': "8", 'data-msg-minlength': 'vending_machine.name.length.min'|trans({}, "validators"),
                'data-rule-maxlength': "64", 'data-msg-maxlength': 'vending_machine.name.length.max'|trans({}, "validators"),
                'value': ( vendingMachine is defined ) ? vendingMachine.name
            }
        }) }}

        {{ form_label(form.name) }}

        {{ form_errors(form.name) }}
    </div>

    <div class="field-holder">
        {{ form_widget(form.nameTechnician, {
            'id': "vending-machine-name-technician",
            'attr': {
                'placeholder': "Введите имя техника",
                'data-rule-minlength': "4", 'data-msg-minlength': 'vending_machine.name_technician.length.min'|trans({}, "validators"),
                'data-rule-maxlength': "64", 'data-msg-maxlength': 'vending_machine.name_technician.length.max'|trans({}, "validators"),
                'value': ( vendingMachine is defined ) ? vendingMachine.nameTechnician
            }
        }) }}

        {{ form_label(form.nameTechnician) }}

        {{ form_errors(form.nameTechnician) }}
    </div>

    <div class="field-holder">
        {{ form_widget(form.numberShelves, {
            'id': "vending-machine-number-shelves",
            'attr': {
                'placeholder': "Введите количество учеников",
                'data-rule-min': 1, 'data-msg-min': 'vending_machine.number_shelves.range.min'|trans({}, "validators"),
                'data-rule-max': 100, 'data-msg-max': 'vending_machine.number_shelves.range.max'|trans({}, "validators"),
                'value': ( vendingMachine is defined ) ? vendingMachine.numberShelves
            }
        }) }}

        {{ form_label(form.numberShelves) }}

        {{ form_errors(form.numberShelves) }}
    </div>

    <div class="field-holder">
        {{ form_widget(form.numberSprings, {
            'id': "vending-machine-number-springs",
            'attr': {
                'placeholder': "Введите количество учеников",
                'data-rule-min': 1, 'data-msg-min': 'vending_machine.number_springs.range.min'|trans({}, "validators"),
                'data-rule-max': 1000, 'data-msg-max': 'vending_machine.number_springs.range.max'|trans({}, "validators"),
                'value': ( vendingMachine is defined ) ? vendingMachine.numberSprings
            }
        }) }}

        {{ form_label(form.numberSprings) }}

        {{ form_errors(form.numberSprings) }}
    </div>

    {{ form_widget(form._token) }}
</form>