{# AppBundle/Resources/views/Entity/School/Base/item.html.twig #}
{% extends 'AppBundle:Entity/School:layout.html.twig' %}

{% block action_top %}
    <div class="inner categories-list-holder">
        <ul>
            <li {% block active_school_update %}{% endblock %}>
                <a href="{{ path('school_update', { 'id': school.id }) }}">Данные</a>
            </li>
            <li {% block active_school_update_bounded_vending_machine %}{% endblock %}>
                <a href="{{ path('school_update_bounded', { 'objectId': school.id, 'objectClass': 'vendingmachine' }) }}">
                    {{ 'vending_machine_read'|trans({}, 'routes') }}
                </a>
            </li>
            <li {% block active_school_update_bounded_student %}{% endblock %}>
                <a href="{{ path('school_update_bounded', { 'objectId': school.id, 'objectClass': 'student' }) }}">
                    {{ 'student_read'|trans({}, 'routes') }}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}