{# AppBundle/Resources/views/Entity/Student/Table/tr.html.twig #}
<td class="small-fixed"><span>{{ student.id }}</span></td>
<td>
    <span>
        {{ student.fullName ~ ' ' ~ (( student.pseudoDeleted ) ? '[УДАЛЕНО]') }}
    </span>
</td>
<td>
    <span>
        {{ ( student.school ) ? student.school.name ~ ', ' ~ ( ( student.school.settlement ) ? student.school.settlement.name ) : '-' }}
    </span>
</td>
<td>
    {% if student.nfcTag %}
        {% if student.nfcTag.isActivated %}
            {% set statusClass = 'ready' %}
        {% else %}
            {% set statusClass = 'pending' %}
        {% endif %}

        <span class="status {{ statusClass }}">
            {{ student.nfcTag.number }}
        </span>
    {% else %}
        <span>-</span>
    {% endif %}
</td>
<td>
    <span>
        {{ student.totalLimit|number_format(2, ',') }}
    </span>
</td>
<td>
    <span>
        {{ student.dailyLimit|number_format(2, ',') }}
    </span>
</td>
<td>
    <span>
        {{ ( student.customer ) ? student.customer.fullName  : '-'  }}
    </span>
</td>
