{# AppBundle/Resources/views/Entity/PaymentReceipt/Base/table.html.twig #}
{% extends ( standalone is defined ) ? '::void.html.twig' : 'AppBundle:Entity/PaymentReceipt/Base:list.html.twig' %}

{% block action_search %}
    <div id="search-widget">
        {{ render(controller('AppBundle:Dashboard/CommonDashboard:search')) }}
    </div>
{% endblock %}

{% block variable %}
    <div class="outer scrollable-holder">
        <div class="inner scrollable">

            {% if payment_receipt_boundless_access.isGranted(constant('AppBundle\\Service\\Security\\PaymentReceiptBoundlessAccess::PAYMENT_RECEIPT_REPLENISH')) %}
                {{ render(controller('AppBundle:Payment/PaymentReceipt:paymentReceiptReplenishForm')) }}
            {% endif %}

            {% if paymentReceipts|length %}
                <table>
                    <tr>

                        {% include 'AppBundle:Entity/PaymentReceipt/Table:th.html.twig' %}

                        {% block action_items_th %}{% endblock %}

                    </tr>

                    {% for paymentReceipt in paymentReceipts %}
                        <tr>

                            {% include 'AppBundle:Entity/PaymentReceipt/Table:tr.html.twig' with { 'paymentReceipt': paymentReceipt } only %}

                            {% block action_items_tr %}{% endblock %}

                        </tr>
                    {% endfor %}

                </table>
            {% else %}
                <div class="empty-holder">
                    <h2>{{ 'dashboard.table.empty.title'|trans }}</h2>
                    <p>{{ 'dashboard.table.empty.text_load'|trans }}</p>
                </div>
            {% endif %}

        </div>
    </div>
    <div class="bottom-info-panel">
        {% block action_button %}{% endblock %}

        {{ render(controller('AppBundle:Dashboard/CommonDashboard:pagination')) }}
    </div>
{% endblock %}
