{# AppBundle/Resources/views/Entity/Student/Binding/bounded.html.twig #}
{% extends 'AppBundle:Entity/Student/Base:item.html.twig' %}

{% block active_student_update_bounded_nfc_tag %}
    {% if objectClass is same as('nfctag') %}
        {{ 'class="active"' }}
    {% endif %}
{% endblock %}

{% block active_student_update_bounded_product %}
    {% if objectClass is same as('product') %}
        {{ 'class="active"' }}
    {% endif %}
{% endblock %}

{% block active_student_update_bounded_purchase_product %}
    {% if objectClass is same as('purchase') %}
        {{ 'class="active"' }}
    {% endif %}
{% endblock %}

{% block active_student_update_bounded_purchase_service %}
    {% if objectClass is same as('purchaseservice') %}
        {{ 'class="active"' }}
    {% endif %}
{% endblock %}

{% block active_student_update_bounded_transaction %}
    {% if objectClass is same as('transaction') %}
        {{ 'class="active"' }}
    {% endif %}
{% endblock %}

{% block active_student_update_bounded_payment_receipt %}
    {% if objectClass is same as('paymentreceipt') %}
        {{ 'class="active"' }}
    {% endif %}
{% endblock %}

{% block action_search %}
    <div id="search-widget">
        {{ render(controller('AppBundle:Dashboard/CommonDashboard:search')) }}
    </div>
{% endblock %}

{% block variable %}

    {{ bounded|raw }}

{% endblock %}
