{# AppBundle/Resources/views/Website/State/contacts.html.twig #}
{% extends 'AppBundle:Website:layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'website.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('website_contacts') }}">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/website/css/contacts.bundle.min.css') }}">
{% endblock %}

{% block content %}
    <main id="content" class="sticky">
        <div class="outer inside">
            <aside id="navigation-holder">

                {{ knp_menu_render('contacts', {'currentClass': 'active'}) }}

            </aside>
            <section id="content-info-holder">
                <h1>Головний офіс</h1>
                <span class="sprtr-h"></span>
                <div class="grid">
                    <div class="row">
                        <div class="col">
                            <h2>Графік роботи</h2>
                            <span class="sprtr-h"></span>
                            <span class="icon hr-shedule"></span>
                            <div class="item">
                                <p>
                                    <span>Пн.-Пт.</span>
                                    {{ contact.schedule }}
                                </p>
                            </div>
                        </div>
                        <div class="col">
                            <h2>Контакта інформація</h2>
                            <span class="sprtr-h"></span>
                            <span class="icon hr-phone"></span>
                            <div class="item">
                                <a href="tel:{{ contact.phoneNumber|replace({ ' ': '', '(': '', ')': '', '-': '' }) }}">{{ contact.phoneNumber }}</a>
                            </div>
                            <span class="icon hr-email"></span>
                            <div class="item">
                                <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                            </div>
                        </div>
                        <div class="col">
                            <h2>Для листування</h2>
                            <span class="sprtr-h"></span>
                            <span class="icon hr-email"></span>
                            <div class="item">
                                <p>{{ contact.mail }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer id="footer" class="sticky">
        {{ render(controller('AppBundle:Website/CommonWebsite:footer')) }}
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/website/js/contacts.bundle.min.js') }}"></script>
{% endblock %}