{# AppBundle/Resources/views/Website/State/howToGetCard.html.twig #}
{% extends 'AppBundle:Website:layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'website.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('website_how_to_get_card') }}">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/website/css/project.bundle.min.css') }}">
{% endblock %}

{% block content %}
    <main id="content" class="sticky">
        <div class="outer inside">
            <aside id="navigation-holder">

                {{ knp_menu_render('our_project', {'currentClass': 'active'}) }}

            </aside>
            <section id="content-info-holder" class="advantage">
                <h1>Як отримати картку або браслет</h1>
                <span class="sprtr-h"></span>

                <p>Браслет або картку «Дорога Здоров’я» Ви можете отримати у будь-який момент, заповнивши нашу анкету та підписавши угоду користувача.</p>
                <div class="text-holder">
                    <p>Для отримання картки або браслета необхідно:</p>
                </div>

                <div class="list-holder">
                    <ul>
                        <li>
                            <p>Заповнити анкету, яку Ви зможете отримати у представника нашої компанії в школі або на нашому сайті.</p>
                        </li>
                        <li>
                            <p>Обміняти заповнену анкету на пластикову картку у представника нашої компанії в школі або кинути анкету у поштову скриньку, яка знаходиться у самому торговельному автоматі зліва. Після отримання Вашої анкети, картку Вам буде надіслано поштою на домашню адресу, вказану Вами в анкеті при заповненні або передано іншим зручним способом.</p>
                        </li>
                        <li>
                            <p>Активувати картку, поповнивши її на суму не менше 50 грн., з яких 25 грн. буде списано за активацію картки та особистого кабінету, а залишок суми буде зараховано на Ваш картковий рахунок (детальніше у розділі «Як поповнити картку або браслет»).</p>
                        </li>
                        <li>
                            <p>Після поповнення картки, за бажанням, Ви зможете безкоштовно її обміняти на браслет, зателефонувавши за номерами телефонів нашого центру підтримки:</p>
                        </li>
                    </ul>
                </div>

                <p><span class="attention">Увага!</span> При заповнені анкети на сайті картку буде надіслано вам поштою за адресою, яка була вказана Вами при заповненні.</p>

                <h2>Замовте браслет або картку</h2>
                <span class="sprtr-h"></span>
                <div class="btn-large worksheet-holder">
                    <a href="https://docs.google.com/forms/d/1Rc7mBngk9UgUc3a3uokTcnAZM0lb1cgDv27CBSTUHaY/viewform">Анкета для батьків</a>
                </div>
                <p>Якщо у вас з'явилися будь які питання стосовно отримання карти або браслета - напишіть нам, заповнивши форму приведену нижче:</p>

                {{ render(controller('AppBundle:Website/CommonWebsite:messages')) }}

                {% include 'AppBundle:Website/Form:feedbackOrder.html.twig' with { 'form': form } only %}

            </section>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer id="footer" class="sticky">
        {{ render(controller('AppBundle:Website/CommonWebsite:footer')) }}
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/website/js/project.bundle.min.js') }}"></script>
{% endblock %}
