{# AppBundle/Resources/views/Website/State/howToReplenishCard.html.twig #}
{% extends 'AppBundle:Website:layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'website.title'|trans }}
{% endblock %}

{% block metadata %}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('website_how_to_replenish_card') }}">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/website/css/project.bundle.min.css') }}">
{% endblock %}

{% block content %}
    <main id="content" class="sticky">
        <div class="outer inside">
            <aside id="navigation-holder">

                {{ knp_menu_render('our_project', {'currentClass': 'active'}) }}

            </aside>
            <section id="content-info-holder" class="advantage">
                <h1>Як поповнити картку або браслет</h1>
                <div class="list-holder">
                    <ul>
                        <li>
                            <p>У будь-якому відділенні Приват-банку, відправивши кошти на рахунок, вказаний у додатку до картки. У платежі Вам потрібно вказати Ваш індивідуальний код картки/браслета «Дорога Здоров’я». Комісію банку сплачує наша компанія. <strong>Сума сплати буде нарахована на картку або браслет упродовж 2х банківських днів</strong>.</p>
                            <!--<span class="description"></span>-->
                        </li>
                        <li>
                            <p>Зверніть увагу! У будь-якому іншому банку за переказ коштів на поповнення картки, банк візьме комісію відповідно з тарифами самого банку. Розмір комісії Ви можете дізнатись у оператора банку.</p>
                        </li>
                        <li>
                            <p>У будь-якому відділенні Укрпошти, вказавши у платежі «Поповнення рахунку картки Дорога Здоров’я», суму та індивідуальний код картки (вказаний на картці «Дорога Здоров’я»). За переказ через Укрпошту комісія сплачується нашою компанією. Сума сплати буде нарахована на картку або браслет упродовж наступних 4х банківських днів.</p>
                        </li>
                        <li>
                            <p>Через інтернет-банк «Приват 24». При заповненні платежу, вам потрібно вказати індивідуальний номер картки (вказаний на картці «Дорога Здоров’я»). Сума сплати буде нарахована на картку або браслет упродовж наступного дня.</p>
                        </li>
                        <li>
                            <p>У терміналі Приват-банку. При заповненні платежу, вам потрібно вказати індивідуальний номер картки (вказаний на картці «Дорога Здоров’я»). Комісію сплачує наша компанія. Сума сплати буде нарахована на картку або браслет упродовж наступного дня.</p>
                        </li>
                        <li>
                            <p>Оплатити карткою Visa або MasterCard через сайт нашої компанії в розділі поповнення картки. При заповненні Вам необхідно вказати Ваш індивідуальний код картки (вказано на картці ДЗ). Сума оплати буде зарахована на картку протягом наступного дня. Звертаємо Вашу увагу, що за переклад банк може взяти комісію згідно Вашого договору про обслуговування картки.</p>
                        </li>
                        <li>
                            <p>Якщо у вас є відкритий рахунок у банку або ви використовуєте кредитну карту, ви маєте можливість скористатись послугою автоматичної сплати рахунку. У такому випадку, щомісячно, або у разі, якщо на картці/браслеті закінчились гроші, вони будуть зніматись автоматично (з урахуванням встановленої вами суми).</p>
                        </li>
                    </ul>
                </div>
                <h2>Зразок реквізитів для поповнення рахунку</h2>
                <span class="sprtr-h"></span>
                <div class="payment-example-holder">
                    <h3>В найближчому відділенні  ПАТ КБ «ПРИВАТ-БАНК»</h3>
                    <ul>
                        <li><p><span>Отримувач:</span> ТОВ «Дорога здоров`я»</p></li>
                        <li><p><span>ЄДРПОУ:</span> 39393171</p></li>
                        <li><p><span>Р/р:</span> 2600 8052 6376 97</p></li>
                        <li><p><span>МФО:</span> 320649 в ПАТ КБ «ПРИВАТ БАНК»</p></li>
                        <li><p><span>Призначення платежу:</span> № картки, ПІБ власника, оплата за товар.</p></li>
                    </ul>
                    <p><span class="attention">Увага!</span> У призначенні платежу обов`язково вказуйте номер картки</p>
                </div>
                <div class="payment-example-holder">
                    <h3>Через систему «ПРИВАТ 24» або термінал ПАТ КБ ПРИВАТБАНК</h3>
                    <p>Вкладка «Мои платежи»</p>
                    <ul>
                        <li><p><span>Пошук організації:</span> Чтобы создать платеж, введите ЕГРПОУ, номер р/счета или название предприятия.</p></li>
                        <li><p>Потрібно ввести ЕГРПОУ - 39393171, або номер р/счета - 26008052637697 , або   название предприятия  - ТОВ  Дорога здоров`я</p></li>
                        <li><p><span>Призначення платежу:</span> № картки , ПІБ власника, Поповнення картки Иванов Иван Иванович</p></li>
                    </ul>
                    <p><span class="attention">Увага!</span> У призначенні платежу обов`язково вказуйте номер картки</p>
                </div>
                <p><span class="attention">До уваги платників!</span> Всі поповнення, здійснені у мережі ПТ КБ ПриватБанку проводяться без комісії за переказ.</p>
                <p>Якщо поповнення здійснюється через системи інших Банків, комісія за переказ складає відсоток від суми згідно діючим тарифам Банку.</p>
                <div class="payment-example-holder">
                    <h3>Для сплати на Укрпошті</h3>
                    <ul>
                        <li><p><span>Отримувач:</span> ТОВ «Дорога здоров`я»</p></li>
                        <li><p><span>ЄДРПОУ:</span> 39393171</p></li>
                        <li><p><span>Р/р:</span> 2600 8052 6376 97</p></li>
                        <li><p><span>МФО:</span> 320649 в ПАТ КБ «ПРИВАТ БАНК»</p></li>
                        <li><p><span>Призначення платежу:</span> № картки, ПІБ власника, оплата за товар.</p></li>
                    </ul>
                    <p><span class="attention">Увага!</span> У призначенні платежу обов`язково вказуйте номер картки</p>
                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer id="footer" class="sticky">
        {{ render(controller('AppBundle:Website/CommonWebsite:footer')) }}
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/website/js/project.bundle.min.js') }}"></script>
{% endblock %}