{# AppBundle/Resources/views/Website/State/index.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Дорога Здоров'я</title>
    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="Description" content="Описание необходимых мета-тегов." />
    <!--meta name="msapplication-TileImage" content="assets/images/favicons/ms/144x144.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <link rel="apple-touch-icon" href="assets/images/favicons/apple/57x57.png">
    <link rel="apple-touch-icon" href="assets/images/favicons/apple/60x60.png">
    <link rel="apple-touch-icon" href="assets/images/favicons/apple/72x72.png">
    <link rel="apple-touch-icon" href="assets/images/favicons/apple/76x76.png">
    <link rel="apple-touch-icon" href="assets/images/favicons/apple/76x76.png">
    <link rel="apple-touch-icon" href="assets/images/favicons/apple/114x114.png">
    <link rel="apple-touch-icon" href="assets/images/favicons/apple/120x120.png">
    <link rel="apple-touch-icon" href="assets/images/favicons/apple/144x144.png">
    <link rel="apple-touch-icon" href="assets/images/favicons/apple/152x152.png">
    <link rel="apple-touch-icon" href="assets/images/favicons/apple/180x180.png">
    <link rel="icon" type="image/png" href="assets/images/favicons/16x16.png">
    <link rel="icon" type="image/png" href="assets/images/favicons/32x32.png">
    <link rel="icon" type="image/png" href="assets/images/favicons/96x96.png">
    <link rel="icon" type="image/png" href="assets/images/favicons/160x160.png">
    <link rel="icon" type="image/png" href="assets/images/favicons/192x192.png"-->
    <link rel="stylesheet" href="{{ asset('bundles/app/website/css/home.bundle.min.css') }}">
</head>
<body>
    <div id="page">
        <header id="header">
            <div class="inner">
                <div class="logo"><a href="#"><img src="{{ asset('bundles/app/website/images/logo.png') }}" alt="Дорога Здоров'я - здорове шкільне харчування"></a></div>
                <div class="info-holder">
                    <ul class="langs-holder">
                        <li class="active"><a href="#">ua</a></li>
                        <li><a href="#">ru</a></li>
                    </ul>
                    <div class="btn-large">
                        <a href="#">Вхід для батьків</a>
                    </div>
                    <span class="sprtr-v"></span>
                    <ul class="phones-holder">
                        <li>
                            <a href="tel:+380449999999"><span class="hr-mtc hr-small"></span>+38 (066) 539 3939</a>
                        </li>
                        <li>
                            <a href="tel:+380449999999"><span class="hr-kstar hr-small"></span>+38 (068) 539 3939</a>
                        </li>
                        <li>
                            <a href="tel:+380449999999"><span class="hr-life hr-small"></span>+38 (063) 539 3939</a>
                        </li>
                    </ul>
                    <ul class="call-center-holder">
                        <li>
                            <h3>Центр Підтримки</h3>
                        </li>
                        <li>
                            <span>пн-пт: 9:00 - 18:00</span>
                        </li>
                        <li>
                            <a href="callback.html">зворотній зв'язок</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="toggle-menu">
                <span>Меню</span>
            </div>
            <div id="menu-holder">
                <div class="inner">
                    <nav class="menu">
                        <ul>
                            <li class="active"><a href="index.html">Головна</a></li>
                            <li><a href="project.html">Наш проект</a></li>
                            <li><a href="about.html">Про компанію</a></li>
                            <li><a href="suppliers.html">Наші партнери</a></li>
                            <li><a href="products.html">Продукти</a></li>
                            <li><a href="contacts.html">Контакти</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main id="content">
            <section class="outer intro-holder">
                <figure class="slide">
                    <img src="{{ asset('bundles/app/website/images/slider/kids.jpg') }}" alt="happy kids">
                </figure>
                <div class="inner">
                    <div class="entitled">
                        <h1>Дорога Здоров'я</h1>
                        <h2>Додаткове здорове шкільне харчування</h2>
                        <div class="btn-more">
                            <a href="#">
                                <span class="text">дізнайтеся більше</span>
                                <span class="long-arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="outer project-holder">
                <div class="inner">
                    <h2>Європейська система здорового шкільного харчування</h2>
                    <span class="sprtr-h"></span>
                    <p>Дитина веде активний спосіб життя та постійні перекуси - частина його щоденного раціону. Ми розуміємо, що шкільні їдальні можуть надати повноцінний обід, але протягом навчального дня діти завжди встигають з'їсти що-небудь ще.</p>
                    <p>Найчастіше це: Чіпси, Шоколад, так звані Хот доги (майонез, кетчуп), які дитина запиває солодкою газованою водою. Ці продукти, що негативно впливають на дитячий організм, найчастіше можна купити навіть по дорозі до школи. Тому дуже важливо знати, що їсть ваша дитина поки знаходиться у школі. Ми виключаємо продаж шкідливих продуктів харчування.</p>
                    <p>Європейська система здорового шкільного харчування – це не лише повноцінний обід, але й декілька перекусів корисними та свіжими продуктами, яких в шкільних буфетах найчастіше просто немає. Ми вирішуємо цю проблему, та пропонуємо якісні та сертифіковані продукти харчування для перекусу, які Ваша дитина може придбати у торгівельному автоматі за допомогою безконтактної картки або браслета. Повністю контролюйте щоденний раціон дитини за допомогою інформаційних повідомлень на мобільний телефон, встановлюючи ліміт на щоденні витрати.</p>
                    <div class="benefits-holder">
                        <ul>
                            <li>
                                <figure>
                                    <img src="{{ asset('bundles/app/website/images/fruits.jpg') }}" alt="fruits">
                                </figure>
                                <div class="inner">

                                    <span class="sprtr-h"></span>
                                    <p>Натуральні фруктові соки, різноманітні кондитерські вироби, вода, свіжі фрукти – саме так буде виглядати перекус Вашої дитини у школі щоденно.</p>
                                </div>
                            </li>
                            <li>
                                <figure>
                                    <img src="{{ asset('bundles/app/website/images/cards.jpg') }}" alt="cards">
                                </figure>
                                <div class="inner">

                                    <span class="sprtr-h"></span>
                                    <p>Не потрібно давати кишенькові гроші, які дитина може витратити на чипси, шоколад чи солодкі газовані напої. А у гіршому випадку на алкоголь або цигарки. Просто поповнюйте браслет або картку, та контролюйте раціон вашої дитини за допомогою смс.</p>
                                </div>
                            </li>
                            <li>
                                <figure>
                                    <img src="{{ asset('bundles/app/website/images/scales.jpg') }}" alt="scales">
                                </figure>
                                <div class="inner">

                                    <span class="sprtr-h"></span>
                                    <p>Вся продукція надходить безпосередньо із заводів сертифікованих виробників продуктів харчування, тому вартість продукції не відрізняється від цін у магазинах. Ви не переплачуєте за доставку продуктів до школи.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="watch-movie">
                        <a href="#">
                            <span class="hr-play hr-large"></span>
                            <span class="text">Переглянути Презентацію Проекту «Дорога Здоровья»</span>
                        </a>
                    </div>
                </div>
            </section>
            <section class="outer suppliers-holder">
                <div class="inner">
                    <h2>Наші продукти</h2>
                    <span class="sprtr-h"></span>
                    <ul class="suppliers">
                        <li>
                            <figure>
                                <a href="#">
                                    <img src="{{ asset('bundles/app/website/images/suppliers/nash-sik.png') }}" alt="Наш сок">
                                </a>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <a href="#">
                                    <img src="build/images/suppliers/jaffa.png" alt="Jaffa">
                                </a>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <a href="#">
                                    <img src="build/images/suppliers/teen-team.png" alt="Teen Team">
                                </a>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <a href="#">
                                    <img src="build/images/suppliers/biskvit-shokolad.png" alt="Бисквит-шоколад">
                                </a>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <a href="#">
                                    <img src="build/images/suppliers/sladkiy-myr.png" alt="Солодкий світ">
                                </a>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <a href="#">
                                    <img src="build/images/suppliers/tekmar.png" alt="Текмар">
                                </a>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <a href="#">
                                    <img src="build/images/suppliers/ramonka.png" alt="Рамонка">
                                </a>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <a href="#">
                                    <img src="build/images/suppliers/frucfetta.png" alt="Фрук Фетта">
                                </a>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <a href="#">
                                    <img src="build/images/suppliers/ginger.png" alt="Джин Джер">
                                </a>
                            </figure>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="outer questions-holder">
                <div class="inner">
                    <h2>Три кроки до здорового харчування Вашої дитини</h2>
                    <span class="sprtr-h"></span>
                    <ul class="questions">
                        <li>
                            <span class="hr-get-card hr-small"></span>
                            <span class="sprtr-h"></span>
                            <h3>Як отримати картку або браслет</h3>
                            <p>Браслет або картку «Дорога Здоров’я» Ви можете отримати у будь-який момент поштою, заповнивши нашу анкету у школі, або на сайті нашої компанії.</p>
                            <a href="project-get-card.html">докладніше<span class="long-arrow"></span></a>
                        </li>
                        <li>
                            <span class="hr-add-money hr-small"></span>
                            <span class="sprtr-h"></span>
                            <h3>Як поповнювати картку або браслет</h3>
                            <p>Поповнити картку або браслет можна у будь-якому відділенні Приват-банку, у  терміналі самообслуговування, кредитною карткою або у будь-якому відділенні Укрпошти.</p>
                            <a href="project-card-refill.html">докладніше<span class="long-arrow"></span></a>
                        </li>
                        <li>
                            <span class="hr-use-hand hr-small"></span>
                            <span class="sprtr-h"></span>
                            <h3>Як користуватись вендінговим автоматом</h3>
                            <p>Достатньо обрати номер потрібного продукта на клавіатурі автомата, прикласти картку або браслет для зняття коштів, та отримати обраний продукт у вікні видачі автомата.</p>
                            <a href="project-how-to-use-vending-machine.html">докладніше<span class="long-arrow"></span></a>
                        </li>
                    </ul>
                    <div class="btn-small">
                        <a href="#">Усі питання</a>
                    </div>
                </div>
            </section>
            <section class="pre-footer">
                <div class="inner">
                    <div class="part contacts">
                        <h3>Контакти</h3>
                        <span class="sprtr-h"></span>
                        <ul>
                            <li>
                                <span class="item"><span class="hr-pin"></span>01054, Київ-54, А/С 12</span>
                            </li>
                            <li>
                                <span class="item"><span class="hr-mtc"></span>+38 (066) 539 3939</span>
                                <span class="item"><span class="hr-kstar"></span>+38 (068) 539 3939</span>
                                <span class="item"><span class="hr-life"></span>+38 (063) 539 3939</span>
                            </li>
                            <li>
                                <span class="item"><span class="hr-email"></span>info@kdz.com.ua</span>
                            </li>
                        </ul>
                    </div>
                    <div class="part navigation">
                        <h3>Всі розділи</h3>
                        <span class="sprtr-h"></span>
                        <div class="list-holder">
                            <ul>
                                <li><a href="#">Головна</a></li>
                                <li><a href="#">Наш проект</a></li>
                                <li><a href="#">Про компанію</a></li>
                                <li><a href="#">Виробники</a></li>
                                <li><a href="#">Асортимент продуктів</a></li>
                                <li><a href="#">Галерея</a></li>
                                <li><a href="#">Новини</a></li>
                                <li><a href="#">Як отримати картку?</a></li>
                                <li><a href="#">Акції та пропозиції</a></li>
                                <li><a href="#">Як користуватись автоматом?</a></li>
                                <li><a href="#">Як стати клієнтом?</a></li>
                                <li><a href="#">Як поповнити картку?</a></li>
                                <li><a href="#">Стати партнером</a></li>
                                <li><a href="#">Питання-відповідь</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="part entrance">
                        <h3>Вхід для батьків</h3>
                        <span class="sprtr-h"></span>
                        <form action="#" method="POST" id="entrance-form">
                            <div class="field-area">
                                <input type="tel" name="user[phone]" value="" placeholder="+38 (044) 999 9999" id="entrance-user-phone" data-rule-required="true" data-mask="+38 (000) 000-0000">
                                <label for="entrance-user-phone"><span class="hr-phone"></span></label>
                            </div>
                            <div class="field-area">
                                <input type="password" name="user[password]" value="" placeholder="ваш пароль" id="entrance-user-password" data-rule-required="true">
                                <label for="entrance-user-password"><span class="hr-lock"></span></label>
                            </div>
                            <button type="submit">
                                <span>Увійти</span>
                            </button>
                        </form>
                    </div>
                </div>
            </section>
            <div id="movie-holder">
                <span class="close hr-close"></span>
                <div class="inner"></div>
            </div>
        </main>
    </div>
    <footer id="footer">
        <div class="inner">
            <div class="logo">
                <a href="#"><img src="{{ asset('bundles/app/website/images/logo-white.png') }}" alt="Дорога Здоров'я"></a>
            </div>
            <ul class="social-holder">
                <li>
                    <a href="#" class="hr-facebook hr-small"></a>
                </li>
                <li>
                    <a href="#" class="hr-vk hr-small"></a>
                </li>
                <li>
                    <a href="#" class="hr-twitter hr-small"></a>
                </li>
                <li>
                    <a href="#" class="hr-gplus hr-small"></a>
                </li>
            </ul>
            <small class="copyright">(с) 2015 ТОВ "Дорога Здоров'я". Всі права захищено</small>
            <div class="developers">
                <p>Розроблено веб-агенством</p>
                <a href="#"><img src="{{ asset('bundles/app/website/images/cheers.png') }}" alt="Developed by CHEERS! Unlimited web-agency"></a>
            </div>
        </div>
    </footer>
    <script src="{{ asset('bundles/app/website/js/home.bundle.min.js') }}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-68268180-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>