{# AppBundle/Resources/views/Website/State/index.html.twig #}
{% extends 'AppBundle:Website:layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ 'website.title'|trans }} | {{ metadata.title }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('website_index') }}">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/website/css/home.bundle.min.css') }}">
{% endblock %}

{% block content %}
    <main id="content">
        <section class="outer intro-holder">
            <figure class="slide">
                <img src="{{ asset('bundles/app/website/images/slider/kids.jpg') }}" alt="happy kids">
            </figure>
            <div class="inner">
                <div class="entitled">
                    <h1>Дорога Здоров'я</h1>
                    <h2>Додаткове здорове шкільне харчування</h2>
                    <div class="btn-more">
                        <a href="#">
                            <span class="text">дізнайтеся більше</span>
                            <span class="long-arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="outer project-holder">
            <div class="inner">
                <h2>Європейська система здорового шкільного харчування</h2>
                <span class="sprtr-h"></span>
                <p>Дитина веде активний спосіб життя та постійні перекуси - частина його щоденного раціону. Ми розуміємо, що шкільні їдальні можуть надати повноцінний обід, але протягом навчального дня діти завжди встигають з'їсти що-небудь ще.</p>
                <p>Найчастіше це: Чіпси, Шоколад, так звані Хот доги (майонез, кетчуп), які дитина запиває солодкою газованою водою. Ці продукти, що негативно впливають на дитячий організм, найчастіше можна купити навіть по дорозі до школи. Тому дуже важливо знати, що їсть ваша дитина поки знаходиться у школі. Ми виключаємо продаж шкідливих продуктів харчування.</p>
                <p>Європейська система здорового шкільного харчування – це не лише повноцінний обід, але й декілька перекусів корисними та свіжими продуктами, яких в шкільних буфетах найчастіше просто немає. Ми вирішуємо цю проблему, та пропонуємо якісні та сертифіковані продукти харчування для перекусу, які Ваша дитина може придбати у торгівельному автоматі за допомогою безконтактної картки або браслета. Повністю контролюйте щоденний раціон дитини за допомогою інформаційних повідомлень на мобільний телефон, встановлюючи ліміт на щоденні витрати.</p>
                <div class="benefits-holder">
                    <ul>
                        <li>
                            <figure>
                                <img src="{{ asset('bundles/app/website/images/fruits.jpg') }}" alt="fruits">
                            </figure>
                            <div class="inner">

                                <span class="sprtr-h"></span>
                                <p>Натуральні фруктові соки, різноманітні кондитерські вироби, вода, свіжі фрукти – саме так буде виглядати перекус Вашої дитини у школі щоденно.</p>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <img src="{{ asset('bundles/app/website/images/cards.jpg') }}" alt="cards">
                            </figure>
                            <div class="inner">

                                <span class="sprtr-h"></span>
                                <p>Не потрібно давати кишенькові гроші, які дитина може витратити на чипси, шоколад чи солодкі газовані напої. А у гіршому випадку на алкоголь або цигарки. Просто поповнюйте браслет або картку, та контролюйте раціон вашої дитини за допомогою смс.</p>
                            </div>
                        </li>
                        <li>
                            <figure>
                                <img src="{{ asset('bundles/app/website/images/manufacture.jpg') }}" alt="manufacture">
                            </figure>
                            <div class="inner">

                                <span class="sprtr-h"></span>
                                <p>Вся продукція надходить безпосередньо із заводів сертифікованих виробників продуктів харчування, тому вартість продукції не відрізняється від цін у магазинах. Ви не переплачуєте за доставку продуктів до школи.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="watch-movie">
                    <a href="#">
                        <span class="hr-play hr-large"></span>
                        <span class="text">Переглянути Презентацію Проекту «Дорога Здоровья»</span>
                    </a>
                </div>
            </div>
        </section>

        {% if suppliers %}
            <section class="outer suppliers-holder">
                <div class="inner">
                    <h2>Наші продукти</h2>
                    <span class="sprtr-h"></span>
                    <ul class="suppliers">

                        {% for supplier in suppliers %}

                            {% if supplier.supplierImages|length %}

                                {% for supplierImage in supplier.supplierImages %}
                                    <li>
                                        <figure>
                                            <a href="{{ path('website_our_partners', { 'id': supplier.id, 'slug': supplier.slug }) }}">
                                                <img src="{{ vich_uploader_asset(supplierImage, 'imageSupplierFile') }}" alt="{{ supplier.name }}">
                                            </a>
                                        </figure>
                                    </li>
                                {% endfor %}

                            {% else %}
                                <li>
                                    <figure>
                                        <a href="{{ path('website_our_partners', { 'id': supplier.id, 'slug': supplier.slug }) }}">
                                            <img src="{{ vich_uploader_asset(supplier, 'logoFile') }}" alt="{{ supplier.name }}">
                                        </a>
                                    </figure>
                                </li>
                            {% endif %}

                        {% endfor %}

                    </ul>
                </div>
            </section>
        {% endif %}

        <section class="outer questions-holder">
            <div class="inner">
                <h2>Три кроки до здорового харчування Вашої дитини</h2>
                <span class="sprtr-h"></span>
                <ul class="questions">
                    <li>
                        <span class="hr-get-card hr-small"></span>
                        <span class="sprtr-h"></span>
                        <h3>Як отримати картку або браслет</h3>
                        <p>Браслет або картку «Дорога Здоров’я» Ви можете отримати у будь-який момент поштою, заповнивши нашу анкету у школі, або на сайті нашої компанії.</p>
                        <a href="{{ path('website_how_to_get_card') }}">
                            докладніше<span class="long-arrow"></span>
                        </a>
                    </li>
                    <li>
                        <span class="hr-add-money hr-small"></span>
                        <span class="sprtr-h"></span>
                        <h3>Як поповнювати картку або браслет</h3>
                        <p>Поповнити картку або браслет можна у будь-якому відділенні Приват-банку, у  терміналі самообслуговування, кредитною карткою або у будь-якому відділенні Укрпошти.</p>
                        <a href="{{ path('website_how_to_replenish_card') }}">
                            докладніше<span class="long-arrow"></span>
                        </a>
                    </li>
                    <li>
                        <span class="hr-use-hand hr-small"></span>
                        <span class="sprtr-h"></span>
                        <h3>Як користуватись вендінговим автоматом</h3>
                        <p>Достатньо обрати номер потрібного продукта на клавіатурі автомата, прикласти картку або браслет для зняття коштів, та отримати обраний продукт у вікні видачі автомата.</p>
                        <a href="{{ path('website_how_to_use_vending_machine') }}">
                            докладніше<span class="long-arrow"></span>
                        </a>
                    </li>
                </ul>
                <div class="btn-small">
                    <a href="#">Усі питання</a>
                </div>
            </div>
        </section>

        {{ render(controller('AppBundle:Website/CommonWebsite:preFooter')) }}

        <div id="movie-holder">
            <span class="close hr-close"></span>
            <div class="inner"></div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer id="footer">
        {{ render(controller('AppBundle:Website/CommonWebsite:footer')) }}
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/website/js/home.bundle.min.js') }}"></script>
{% endblock %}