{# AppBundle/Resources/views/Website/State/ourProject.html.twig #}
{% extends 'AppBundle:Website:layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'website.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('website_our_project') }}">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/website/css/project.bundle.min.css') }}">
{% endblock %}

{% block content %}
    <main id="content" class="sticky">
        <div class="outer inside">
            <aside id="navigation-holder">

                {{ knp_menu_render('our_project', {'currentClass': 'active'}) }}

            </aside>
            <section id="content-info-holder">
                <h1>Наш проект</h1>
                <span class="sprtr-h"></span>
                <p>Нашим дітям – лише якісне харчування</p>
                <p>Проект «Дорога Здоров'я» створено для розв'язання однієї з найважливіших завдань - впровадження в Україні якісного додаткового шкільного харчування. Давно відомо - здорові школярі краще вчаться. Здорові школярі досягають найбільших успіхів у навчанні.</p>
                <p>Європейська практика показує, що діти повинні, крім повноцінного обіду, в будь-який час дня мати можливість перекусити. Але це не повинні бути напої та закуски з високим вмістом жиру і цукру.</p>
                <p>Запорука здорового харчування - це свіжі та якісні продукти, а також контроль за їх споживанням. У школі дитина повинна харчуватися за системою - «перекус-повноцінний обід-перекус». Це висновок вчених Великобританії, які вже кілька років активно впроваджують у школах здорове додаткове харчування. Проблему додаткового шкільного харчування наша компанія «Дорога Здоров'я» вирішила через систему вендінгових автоматів.</p>
                <div class="product-categories">
                    <ul>
                        <li>
                            <a href="{{ path('website_products', { 'product_category': 1 }) }}">
                                <figure>
                                    <img src="{{ asset('bundles/app/website/images/water.jpg') }}" alt="Негазована вода">
                                </figure>
                                <div class="inner">
                                    <h3>Негазована вода</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('website_products', { 'product_category': 3 }) }}">
                                <figure>
                                    <img src="{{ asset('bundles/app/website/images/juice.jpg') }}" alt="Різноманітні соки">
                                </figure>
                                <div class="inner">
                                    <h3>Різноманітні соки</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('website_products', { 'product_category': 2 }) }}">
                                <figure>
                                    <img src="{{ asset('bundles/app/website/images/cookies.jpg') }}" alt="Кондитерські вироби">
                                </figure>
                                <div class="inner">
                                    <h3>Кондитерські вироби</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('website_products', { 'product_category': 4 }) }}">
                                <figure>
                                    <img src="{{ asset('bundles/app/website/images/fruits.jpg') }}" alt="Свіжі фрукти">
                                </figure>
                                <div class="inner">
                                    <h3>Свіжі фрукти</h3>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Ті продукти, які дитина зможе самостійно отримувати у вендінговому (торговельному) автоматі, ретельно підібрані провідними дитячими дієтологами та перевірені фахівцями Інституту громадського здоров`я ім. О.М.Марзєєва національной академії медичних наук України з урахуванням потреб дитячого організму.</p>
                <p>Пам’ятайте! Невідповідність продуктів нормам дитячого харчування, може призвести до появи ожиріння, захворювання судин та хвороб шлунково-кишкового тракту.</p>
                <p>У вендінгових автоматах компанії «Дорога Здоров'я» завжди тільки свіжі продукти від сертифікованих державою виробників</p>
                <div class="movie-holder">
                    <div class="inner">
                        <iframe src="https://www.youtube.com/embed/AbQTnpRNxKQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <h2>Як працює система «Перекус-Обід-Перекус»</h2>
                <div class="list-holder">
                    <ul>
                        <li>
                            <p>Наша компанія встановлює в школі вендінговий автомат, в якому ми пропонуємо широкий асортимент натуральних соків, води, фруктів, молочних продуктів, дитячих кондитерських виробів.</p>
                        </li>
                        <li>
                            <p>Ви отримаєте для дитини пластикову карту та активуєте її (детальніше у розділі «Як отримати браслет або картку»). Ваш персональний рахунок Ви поповнюєте самостійно зручним для Вас способом (детальніше у розділі «Як поповнити рахунок»).</p>
                        </li>
                        <li>
                            <p>У школі, дитина купуючи продукти, наприклад сік або йогурт, просто прикладає браслет або картку до апарату і з браслета / картки списується необхідна сума, а автомат видає дитині продукти харчування.</p>
                        </li>
                        <li>
                            <p>Після отримання дитиною продукта, за бажанням, Вам буде відправлено листа на Вашу електронну адресу або смс на телефон (що були вказані впри заповненні анкети), в якому буде зазначенно час, переліку продуктів і сума покупки. Таким чином Ви зможете контролювати коли і що з`їла Ваша дитина.</p>
                        </li>
                    </ul>
                </div>
                <p><span class="attention">Звертаємо Вашу увагу!</span> Вам більше не потрібно видавати дитині кишенькові гроші, які можуть бути витрачені на чіпси, газовану солодку воду, цигарки або алкоголь. Гроші на особистому рахунку дитиною будуть витрачатись виключно на придбання продуктів харчування з вендінгового автомату, встановленого у школі.</p>
                <h2>Переваги нашого проекту</h2>
                <div class="list-holder">
                    <ul>
                        <li>
                            <p>Дитина не зможе витратити суму, вищу за встановлений батьками ліміт.</p>
                        </li>
                        <li>
                            <p>Дитина не зможе використати браслет або картку ніде, окрім як у вендінговому автоматі. Це означає, що вона не зможе купити чіпси, газовані напої, алкоголь або цигарки.</p>
                        </li>
                        <li>
                            <p>Гроші, нараховані на карту або браслет, не зможуть відібрати.</p>
                        </li>
                        <li>
                            <p>Ви завжди проінформовані: які продукти, у якій час та на яку суму отримала Ваша дитина.</p>
                        </li>
                        <li>
                            <p>Якщо Ви бажаєте, Ви можете замовити послугу та контролювати кількість спожитих калорій та, при необхідності, встановити індивідуальну заборону на той чи інший продукт.</p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer id="footer" class="sticky">
        {{ render(controller('AppBundle:Website/CommonWebsite:footer')) }}
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/website/js/project.bundle.min.js') }}"></script>
{% endblock %}
