{# AppBundle/Resources/views/Website/State/ourPartners.html.twig #}
{% extends 'AppBundle:Website:layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'website.title'|trans }}
{% endblock %}

{% block metadata %}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('website_our_partners') }}">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/website/css/suppliers.bundle.min.css') }}">
{% endblock %}

{% block content %}
    <main id="content" class="sticky">
        <div class="outer inside">
            <aside id="navigation-holder">

                {{ knp_menu_render('our_partners', {'currentClass': 'active'}) }}

            </aside>
            <section id="content-info-holder">
                <h1>Наші виробники</h1>
                <span class="sprtr-h"></span>
                <div class="grid">

                    {% for supplier in suppliers %}

                        {% if loop.first %}
                            <div class="row">
                        {% endif %}

                        <article class="col">
                            <figure>
                                <img src="{{ vich_uploader_asset(supplier, 'logoFile') }}" alt="{{ supplier.name }}">
                            </figure>
                            <h2>{{ supplier.name }}</h2>
                            <div class="info">
                                <p>{{ supplier.descriptionShort }}</p>
                            </div>
                            <div class="btn-more">
                                <a href="{{ path('website_our_partners', { 'id': supplier.id, 'slug': supplier.slug }) }}">
                                    дізнатися більше
                                </a>
                            </div>
                        </article>

                        {% if loop.last %}
                            </div>
                        {% elseif loop.index is divisible by(3) %}
                            </div>
                            <div class="row">
                        {% endif %}

                    {% else %}
                        <p>На жаль, інформация стосовно наших партнерів на даний час відсутня</p>
                    {% endfor %}

                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer id="footer" class="sticky">
        {{ render(controller('AppBundle:Website/CommonWebsite:footer')) }}
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/website/js/suppliers.bundle.min.js') }}"></script>
{% endblock %}