{# AppBundle/Resources/views/Website/State/products.html.twig #}
{% extends 'AppBundle:Website:layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'website.title'|trans }}
{% endblock %}

{% block metadata %}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('website_products') }}">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/website/css/products.bundle.min.css') }}">
{% endblock %}

{% block content %}
    <main id="content" class="sticky">
        <div class="outer inside">
            <aside id="navigation-holder">

                {{ knp_menu_render('products', {'currentClass': 'active'}) }}

            </aside>
            <section id="content-info-holder">
                <h1>Продукти</h1>
                <span class="sprtr-h"></span>
                <div class="grid">

                    {% for product in products %}

                        {% if loop.first %}
                            <div class="row">
                        {% endif %}

                        {% set image = ( product.productImages.0 is defined )
                                ? vich_uploader_asset(product.productImages.0, 'imageProductFile')
                                : asset('bundles/app/dashboard/images/no-image.jpg') %}

                        <article class="col product">
                            <figure>
                                <a href="{{ path('website_products', { 'id': product.id, 'slug': product.slug }) }}">
                                    <img src="{{ image }}" alt="{{ product.nameShort }}">
                                </a>
                            </figure>
                            <h2>{{ product.nameShort }}</h2>
                            <div class="price-weight-holder">
                                <span class="weight">
                                    {{ product.getWeightAndMeasure }}
                                </span>
                                <span class="price">{{ product.price|number_format(2, ',') }} ₴</span>
                            </div>
                            <div class="description">
                                <p>{{ product.descriptionShort }}</p>
                            </div>
                            <div class="btn-small">
                                <a href="{{ path('website_products', { 'id': product.id, 'slug': product.slug }) }}">Детальніше</a>
                            </div>
                        </article>

                        {% if loop.last %}
                            </div>
                        {% elseif loop.index is divisible by(3) %}
                            </div>
                            <div class="row">
                        {% endif %}

                    {% else %}
                        <p>На жаль, інформация стосовно наших продуктів на даний час відсутня</p>
                    {% endfor %}

                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer id="footer" class="sticky">
        {{ render(controller('AppBundle:Website/CommonWebsite:footer')) }}
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/website/js/products.bundle.min.js') }}"></script>
{% endblock %}