{# AppBundle/Resources/views/Office/State/personal.html.twig #}
{% extends 'AppBundle:Office:layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'customer_office.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('customer_office') }}">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/website/css/personal.bundle.min.css') }}">
{% endblock %}

{% block content %}
    <main id="content">
        <div class="outer private-holder">
            <aside id="navigation-holder">
                <div class="outer scrollable-holder">
                    <div class="inner scrollable">

                        {{ knp_menu_render('customer_office', { 'currentClass': 'active', 'template': 'AppBundle:Website/Menu:knp_menu.html.twig' }) }}

                    </div>
                </div>
            </aside>
            <section id="content-info-holder">

                {{ render(controller('AppBundle:Office/CommonOffice:breadcrumbs', { 'request': app.request })) }}

                <div class="outer scrollable-holder no-action-panel">
                    <div class="inner scrollable">
                        <article class="personal-data-holder">
                            <div class="inner">
                                <h2>Персональні дані</h2>
                                <div class="info-holder">
                                    <h3>{{ customer.fullName }}</h3>
                                    <div class="col">
                                        <span><span class="icon hr-coin"></span>Загальний баланс</span>
                                        <p>{{ customer.totalLimit|number_format(2, ',') }} грн</p>
                                    </div>
                                    <div class="col">
                                        <span><span class="icon hr-phone"></span>Телефон</span>
                                        <p>{{ customer.phoneNumber }}</p>
                                    </div>
                                    <div class="col">
                                        <span><span class="icon hr-email"></span>Електронна адреса</span>
                                        <p>{{ customer.email }}</p>
                                    </div>

                                    {% if customer.customerNotificationSetting %}
                                        <div class="col notification-holder">
                                            <h3>Повідомлення</h3>
                                            <form action="{{ path('customer_office_action_notification_setting_update', { 'id': customer.id }) }}" method="POST" id="notification-form">
                                                <span class="cancel-all">Скасувати всі</span>
                                                <div class="response-holder"></div>
                                                <div class="field-area">
                                                    <input type="checkbox" name="customer_notification_setting[smsOnSync]" value="" id="check1" {{ ( customer.customerNotificationSetting.smsOnSync ) ? 'checked' }}>
                                                    <label for="check1">
                                                        <span class="radio"></span>
                                                        <span class="text">СМС після кожної покупки</span>
                                                    </label>
                                                </div>
                                                <div class="field-area">
                                                    <input type="checkbox" name="customer_notification_setting[smsOnDayEnd]" value="" id="check2" {{ ( customer.customerNotificationSetting.smsOnDayEnd ) ? 'checked' }}>
                                                    <label for="check2">
                                                        <span class="radio"></span>
                                                        <span class="text">СМС про покупки у кінці дня</span>
                                                    </label>
                                                </div>
                                                <div class="field-area">
                                                    <input type="checkbox" name="customer_notification_setting[emailOnSync]" value="" id="check3" {{ ( customer.customerNotificationSetting.emailOnSync ) ? 'checked' }}>
                                                    <label for="check3">
                                                        <span class="radio"></span>
                                                        <span class="text">E-mail після кожної покупки</span>
                                                    </label>
                                                </div>
                                                <div class="field-area">
                                                    <input type="checkbox" name="customer_notification_setting[emailOnDayEnd]" value="" id="check4" {{ ( customer.customerNotificationSetting.emailOnDayEnd ) ? 'checked' }}>
                                                    <label for="check4">
                                                        <span class="radio"></span>
                                                        <span class="text">E-mail про покупки у кінці дня</span>
                                                    </label>
                                                </div>
                                                <button type="submit">
                                                    <span>Застосувати</span>
                                                </button>
                                            </form>
                                        </div>
                                    {% endif %}

                                    <div class="col change-password-holder">
										<h3>Зміна поточного пароля</h3>
										<form action="{{ path('customer_office_action_password_update', { 'id': customer.id }) }}" method="POST" id="change-password-form">
											<div class="response-holder {# success | error #}"></div>
											<div class="field-area">
												<label for="new-password">Новий пароль</label>
												<input type="password" name="password[new]" value="" placeholder="Введіть новий пароль" id="new-password"
                                                       data-rule-required="true"
                                                       data-msg-required="Поле не може бути порожним">
												<!--span class="error-holder">Не може бути порожним</span-->
											</div>
                                            <div class="field-area">
												<label for="new-password">Повторіть новий пароль</label>
												<input type="password" name="password[new_repeat]" value="" placeholder="Введіть повтор нового паролю" id="new-password-repeat"
                                                       data-rule-required="true"
                                                       data-msg-required="Поле не може бути порожним">
												<!--span class="error-holder">Не може бути порожним</span-->
											</div>
											<button type="submit">
												<span>Змінити</span>
											</button>
											<div class="loader">
												<span class="dot"></span>
												<span class="dot"></span>
												<span class="dot"></span>
												<span class="dot"></span>
												<span class="dot"></span>
											</div>
										</form>
									</div>

                                </div>
                                <div class="info-holder kids">
                                    <h3>Мої діти</h3>

                                    {% for student in students %}
                                        <div class="col">
                                            <a href="{{ path('customer_office_students', { 'id': student.id }) }}">
                                                <span class="icon hr-{{ student.gender }}"></span>
                                                {{ student.name }}
                                            </a>
                                        </div>
                                    {% else %}
                                        <p>Інформація щодо дітей відсутня</p>
                                    {% endfor %}

                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/website/js/personal.bundle.min.js') }}"></script>
{% endblock %}
