{# AppBundle/Resources/views/Office/State/purchases.html.twig #}
{% extends 'AppBundle:Office:layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'customer_office.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('customer_office_purchases') }}">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/website/css/stats.bundle.min.css') }}">
{% endblock %}

{% block content %}
    <main id="content">
        <div class="outer private-holder">
            <aside id="navigation-holder">
                <div class="outer scrollable-holder">
                    <div class="inner scrollable">

                        {{ knp_menu_render('customer_office', { 'currentClass': 'active', 'template': 'AppBundle:Website/Menu:knp_menu.html.twig' }) }}

                    </div>
                </div>
            </aside>
            <section id="content-info-holder">

                {{ render(controller('AppBundle:Office/CommonOffice:breadcrumbs', { 'request': app.request })) }}

                <div class="action-panel-holder top">
                    <h2>Статистика покупок ваших дітей</h2>

                    {% if students %}
                        <div class="categories-panel-holder">
                            <ul>
                                <li {{ ( app.request.get('type') == 'service' ) ? 'class="active"' }}>
                                    <a href="{{ path('customer_office_purchases', {'type': 'service'}) }}">Послуги</a>
                                </li>

                                <li {{ ( not app.request.get('id') and not app.request.get('type') ) ? 'class="active"' }}>
                                    <a href="{{ path('customer_office_purchases') }}">Усі</a>
                                </li>

                                {% for student in students %}
                                    <li {{ ( app.request.get('id') == student.id ) ? 'class="active"' }}>
                                        <a href="{{ path('customer_office_purchases', { 'id': student.id }) }}"><span class="icon hr-{{ student.gender }}"></span>{{ student.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                </div>
                <div class="outer scrollable-holder">
                    <div class="inner scrollable">
                        <div class="table-holder">

                            {% if purchases %}
                                <table>
                                    <tr>
                                        <th>
                                            <a href="#">Ім’я дитини</a>
                                        </th>
                                        <th>
                                            <span>Продукт</span>
                                        </th>
                                        <th>
                                            <a href="#">Виробник</a>
                                        </th>
                                        <th>
                                            <a href="#">Дата і час</a>
                                        </th>
                                        <th>
                                            <a href="#">Ціна</a>
                                        </th>
                                    </tr>

                                    {% for purchase in purchases %}
                                        <tr>
                                            <td>
                                                <span>{{ ( purchase.nfcTag ) ? (( purchase.nfcTag.student ) ? purchase.nfcTag.student.name : '-') : '-' }}</span>
                                            </td>
                                            <td>
                                                <span>{{ ( purchase.product ) ? purchase.product.nameShort : '-' }}</span>
                                            </td>
                                            <td>
                                                <span>{{ ( purchase.product ) ? (( purchase.product.supplier ) ? purchase.product.supplier.name : '-') : '-' }}</span>
                                            </td>
                                            <td>
                                                <span>{{ purchase.syncPurchasedAt|date('d.m.Y H:i:s') }}</span>
                                            </td>
                                            <td>
                                                <span>{{ ( purchase.product ) ? purchase.product.price|number_format(2, ',') ~ ' грн' : '-' }}</span>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </table>
                            {% elseif purchasesService %}
                                <table>
                                    <tr>
                                        <th>
                                            <a href="#">Ім’я дитини</a>
                                        </th>
                                        <th>
                                            <span>Послуга</span>
                                        </th>
                                        <th>
                                            <a href="#">Дата і час</a>
                                        </th>
                                        <th>
                                            <a href="#">Ціна</a>
                                        </th>
                                    </tr>

                                    {% for purchaseService in purchasesService %}
                                        <tr>
                                            <td>
                                                <span>{{ ( purchaseService.student ) ? purchaseService.student.name : '-' }}</span>
                                            </td>
                                            <td>
                                                <span>{{ purchaseService.item }}</span>
                                            </td>
                                            <td>
                                                <span>{{ purchaseService.purchasedAt|date('d.m.Y H:i:s') }}</span>
                                            </td>
                                            <td>
                                                <span>{{ purchaseService.price|number_format(2, ',') ~ ' грн' }}</span>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </table>
                            {% else %}
                                <p class="empty">Інформація про покупки на даний час відсутня</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if purchases %}
                    <div class="action-panel-holder bottom">
                        <div id="pagination-holder">
                            <ul>
                                <li class="active"><a href="">1</a></li>
                                <li>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                </li>
                                <li><a href="">11</a></li>
                                <li><a href="">12</a></li>
                                <li><a href="">13</a></li>
                                <li>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                </li>
                                <li><a href="">21</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}

            </section>
        </div>
    </main>
{% endblock %}
