{# AppBundle/Resources/views/Office/State/studentProducts.html.twig #}
{% extends 'AppBundle:Office:layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} - {{ student.name }} | {{ 'customer_office.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('customer_office_students_products', { 'id': student.id, 'permission': permission }) }}">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/website/css/kids.bundle.min.css') }}">
{% endblock %}

{% block content %}
    <main id="content">
        <div class="outer private-holder">
            <aside id="navigation-holder">
                <div class="outer scrollable-holder">
                    <div class="inner scrollable">

                        {{ knp_menu_render('customer_office', { 'currentClass': 'active', 'template': 'AppBundle:Website/Menu:knp_menu.html.twig' }) }}

                    </div>
                </div>
            </aside>
            <section id="content-info-holder" class="kid-products-holder">

                {{ render(controller('AppBundle:Office/CommonOffice:breadcrumbs', { 'request': app.request })) }}

                <div class="action-panel-holder top">
                    <h2>{{ student.name }}: список продуктів</h2>

                    {% if permission == 'allowed' %}
                        <p>Відмітьте продукти, які ви хочете заборонити дитині та збережіть зміни</p>
                    {% elseif permission == 'restricted' %}
                        <p>Відмітьте продукти, які ви хочете дозволити дитині та збережіть зміни</p>
                    {% endif %}

                    <div class="categories-panel-holder">
                        <ul>
                            <li {{ ( permission == 'allowed' ) ? 'class="active"' }}>
                                <a href="{{ path('customer_office_students_products', { 'id': student.id, 'permission': 'allowed' }) }}">Дозволені</a>
                            </li>
                            <li {{ ( permission == 'restricted' ) ? 'class="active"' }}>
                                <a href="{{ path('customer_office_students_products', { 'id': student.id, 'permission': 'restricted' }) }}">Заборонені</a>
                            </li>
                        </ul>
                    </div>
                    <button type="submit" form="forbid-products-form">
                        <span>Зберегти зміни</span>
                    </button>
                </div>
                <div class="outer scrollable-holder">
                    <div class="inner scrollable">
                        <div class="grid triple-col">


                            {% for productCategory, products in groupedProducts %}

                                <h3>{{ productCategory }}</h3>
                                <span class="sprtr-h"></span>

                                {% for product in products %}

                                    {% if loop.first %}
                                        <div class="row">
                                    {% endif %}

                                    {% set image = ( product.productImages.0 is defined )
                                            ? vich_uploader_asset(product.productImages.0, 'imageProductFile')
                                            : asset('bundles/app/dashboard/images/no-image.jpg') %}

                                    <input type="checkbox" name="forbid-product-{{ product.id }}" value="{{ product.id }}" id="forbid-product-{{ product.id }}" form="forbid-products-form">
                                    <label for="forbid-product-{{ product.id }}" class="col">
                                        <figure>
                                            <img src="{{ image }}" alt="{{ product.nameShort }}">
                                        </figure>
                                        <h2>{{ product.nameShort }}</h2>
                                        <div class="info">
                                            <span class="weight">
                                                {{ product.getWeightAndMeasure }}
                                            </span>
                                            <span class="price">
                                                {{ product.price|number_format(2, ',') }} грн
                                            </span>
                                        </div>
                                    </label>

                                    {% if loop.last %}
                                        </div>
                                    {% elseif loop.index is divisible by(3) %}
                                        </div>
                                        <div class="row">
                                    {% endif %}

                                {% endfor %}

                            {% else %}

                                {% if permission == 'allowed' %}
                                    <p>Дозволених продуктів немає. Можливо, варто іх додати?</p>
                                {% elseif permission == 'restricted' %}
                                    <p>Заборонених продуктів немає</p>
                                {% endif %}

                            {% endfor %}

                        </div>
                    </div>
                </div>

                {% if permission == 'allowed' %}
                    <form action="{{ path('customer_office_action_products_restrict', { 'id': student.id }) }}" method="POST" id="forbid-products-form"></form>
                {% elseif permission == 'restricted' %}
                    <form action="{{ path('customer_office_action_products_allow', { 'id': student.id }) }}" method="POST" id="forbid-products-form"></form>
                {% endif %}

            </section>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/website/js/kids.bundle.min.js') }}"></script>
{% endblock %}
