{# AppBundle/Resources/views/Entity/Region/layout.html.twig #}
{% extends 'AppBundle:Dashboard/State:index.html.twig' %}

{% block title %}
    {{ 'region_read'|trans({}, 'routes') }} | {{ 'dashboard.title'|trans }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/dashboard/css/regions.bundle.min.css') }}">
{% endblock %}

{% block content %}
    <section class="outer" id="info-holder">
        <div class="top-info-panel">

            {% block action_top %}{% endblock %}

            {% block action_search %}{% endblock %}

        </div>

        {% block variable %}
            <div class="outer scrollable-holder">
                <div class="inner scrollable">

                    {% block data %}{% endblock %}

                </div>
            </div>
            <div class="bottom-info-panel">

                {% block action_bottom %}{% endblock %}

            </div>
        {% endblock %}
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/dashboard/js/regions.bundle.min.js') }}"></script>
{% endblock %}

{#{% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\RegionVoter::REGION_DELETE'), region) %}
    <p>
        <a href="{{ path('region_delete', { 'id': region.id }) }}">Удалить</a>
    </p>
{% endif %}

<p>-------------------------------------------------------------------------------------------------</p>
<p>Менеджер региона:</p>
<p>-------------------------------------------------------------------------------------------------</p>
{% include 'AppBundle:Entity/Employee/Binding:ancestors.html.twig' with { 'sibling': region } only %}

<p>-------------------------------------------------------------------------------------------------</p>
{% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\RegionVoter::REGION_BIND'), region) %}
    <p>
        <a href="{{ path('settlement_choose', { 'objectClass': class(region)|lower, 'objectId': region.id }) }}">@ Привязать населенный пункт</a>
    </p>
{% endif %}

<p>Населенные пункты:</p>
<p>-------------------------------------------------------------------------------------------------</p>
{% if region.settlements %}
    {{ render(controller('AppBundle:Binding/Settlement:show', { 'objectClass': class(region)|lower, 'objectId': region.id })) }}
{% endif %}#}
