{# AppBundle/Resources/views/Entity/Settlement/CRUD/readItem.html.twig #}
{% extends 'AppBundle:Entity/Settlement/Base:item.html.twig' %}

{% block active_settlement_update %}{{ 'class="active"' }}{% endblock %}

{% block data %}
    <div id="read-data-holder">
        <ul>
            <li>
                <div class="item key">
                    <span>{{ 'settlement.name.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ settlement.name }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'settlement.region.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ ( settlement.region ) ? settlement.region.name : '-' }}</p>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}