{# AppBundle/Resources/views/Entity/VendingMachine/Base/item.html.twig #}
{% extends 'AppBundle:Entity/VendingMachine:layout.html.twig' %}

{% block action_top %}
    <div class="inner categories-list-holder">
        <ul>
            <li {% block active_vending_machine_update %}{% endblock %}>
                <a href="{{ path('vending_machine_update', { 'id': vendingMachine.id }) }}">Данные</a>
            </li>
            <li {% block active_vending_machine_update_bounded_purchase %}{% endblock %}>
                <a href="{{ path('vending_machine_update_bounded', { 'objectId': vendingMachine.id, 'objectClass': 'purchase' }) }}">
                    {{ 'purchase_read'|trans({}, 'routes') }}
                </a>
            </li>
            <li {% block active_vending_machine_update_bounded_vending_machine_event %}{% endblock %}>
                <a href="{{ path('vending_machine_update_bounded', { 'objectId': vendingMachine.id, 'objectClass': 'vendingmachineevent' }) }}">
                    {{ 'vending_machine_event_read'|trans({}, 'routes') }}
                </a>
            </li>
            <li {% block active_vending_machine_update_bounded_vending_machine_load %}{% endblock %}>
                <a href="{{ path('vending_machine_update_bounded', { 'objectId': vendingMachine.id, 'objectClass': 'vendingmachineload' }) }}">
                    {{ 'vending_machine_load_read'|trans({}, 'routes') }}
                </a>
            </li>
            {#
            <li {% block active_vending_machine_update_bounded_nfc_tag %}{% endblock %}>
                <a href="{{ path('vending_machine_update_bounded', { 'objectId': vendingMachine.id, 'objectClass': 'nfctag' }) }}">
                    {{ 'nfc_tag_read'|trans({}, 'routes') }}
                </a>
            </li>
            #}
        </ul>
    </div>
{% endblock %}