{# AppBundle/Resources/views/Entity/Student/CRUD/readItem.html.twig #}
{% extends 'AppBundle:Entity/Student/Base:item.html.twig' %}

{% block active_student_update %}{{ 'class="active"' }}{% endblock %}

{% block data %}
    <div id="read-data-holder">
        <ul>

            <div class="separator-holder">
                <h2>Личные данные</h2>
            </div>

            <li>
                <div class="item key">
                    <span>{{ 'student.surname.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ student.surname }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'student.name.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ student.name }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'student.patronymic.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ student.patronymic }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'student.gender.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ student.gender }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'student.date_of_birth.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ student.dateOfBirth|date('d-m-Y') }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'student.school.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ ( student.school ) ? student.school.name : '-' }}</p>
                </div>
            </li>

            <div class="separator-holder">
                <h2>Баланс</h2>
            </div>

            <li>
                <div class="item key">
                    <span>{{ 'student.total_limit.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ ( student.totalLimit ) ? student.totalLimit : '-' }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'student.daily_limit.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ ( student.dailyLimit ) ? student.dailyLimit : '-' }}</p>
                </div>
            </li>
        </ul>
    </div>

    {% if student.customer|length %}
        <div class="separator-holder">
            <h2>Родитель ученика</h2>
        </div>

        {% include 'AppBundle:Entity/Customer/Binding:ancestors.html.twig' with { 'sibling': student } only %}
    {% endif %}

    {% if student.employee|length %}
        <div class="separator-holder">
            <h2>Сотрудник, который зарегистрировал ученика</h2>
        </div>

        {% include 'AppBundle:Entity/Employee/Binding:ancestors.html.twig' with { 'sibling': student } only %}
    {% endif %}
{% endblock %}