{# AppBundle/Resources/views/Entity/Student/CRUD/readList.html.twig #}
{% extends 'AppBundle:Entity/Student/Base:table.html.twig' %}

{% block action_items_th %}
    <th colspan="2" class="double-small-fixed">
        <span>управление</span>
    </th>
{% endblock %}

{% block action_items_tr %}

    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\StudentVoter::STUDENT_UPDATE'), student) %}

        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\StudentVoter::STUDENT_DELETE'), student) %}
            <td class="small-fixed edit-holder">
                <div class="btn-edit">
                    <a href="{{ path('student_update', { 'id': student.id }) }}" class="icon hrd-edit"></a>
                </div>
            </td>
            <td class="small-fixed delete-holder">
                <div class="btn-delete">
                    <a href="{{ path('student_delete', { 'id': student.id }) }}" class="icon hrd-delete"></a>
                </div>
            </td>
        {% else %}
            <td class="double-small-fixed edit-holder" colspan="2">
                <div class="btn-edit">
                    <a href="{{ path('student_update', { 'id': student.id }) }}" class="icon hrd-edit"></a>
                </div>
            </td>
        {% endif %}

    {% else %}
        <td class="double-small-fixed view-holder" colspan="2">
            <div class="btn-view">
                <a href="{{ path('student_read', { 'id': student.id }) }}" class="icon hrd-view"></a>
            </div>
        </td>
    {% endif %}

{% endblock %}

{% block action_button %}
    {% if student_boundless_access.isGranted(constant('AppBundle\\Service\\Security\\StudentBoundlessAccess::STUDENT_CREATE')) %}
        <div id="action-holder">
            <div class="btn-add">
                <a href="{{ path('student_create') }}">
                    <span class="icon hrd-add"></span>Добавить
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}