{# AppBundle/Resources/views/Entity/Student/CRUD/readItem.html.twig #}
{% extends 'AppBundle:Entity/Student/Base:item.html.twig' %}

{% block active_student_update %}{{ 'class="active"' }}{% endblock %}

{% block data %}

    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\StudentVoter::STUDENT_TOTAL_LIMIT_UPDATE'), student) %}

        {% if student.nfcTag %}
            <div class="separator-holder">
                <h2>Пополнение баланса ученика ({{ ( student.nfcTag.number ) }})</h2>
            </div>

            {{ render(controller('AppBundle:Payment/PaymentManual:paymentManualReplenishForm', { 'student': student })) }}
        {% endif %}

    {% endif %}

    <div id="read-data-holder">
        <ul>

            <div class="separator-holder">
                <h2>Личные данные</h2>
            </div>

            <li>
                <div class="item key">
                    <span>{{ 'student.surname.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ student.surname }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'student.name.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ student.name }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'student.patronymic.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ student.patronymic }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'student.gender.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ student.gender }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'student.date_of_birth.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ student.dateOfBirth|date('d-m-Y') }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'student.school.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value btn-holder">
                    {% if student.school %}
                        <p>{{ student.school.name }}</p>

                        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\SchoolVoter::SCHOOL_READ'), student.school) %}
                            <div class="btn-view">
                                <a href="{{ path('school_update', { 'id': student.school.id }) }}" class="icon hrd-view"></a>
                            </div>
                        {% endif %}

                    {% else %}
                        <p>-</p>
                    {% endif %}
                </div>
            </li>

            <div class="separator-holder">
                <h2>Баланс</h2>
            </div>

            <li>
                <div class="item key">
                    <span>{{ 'student.total_limit.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ ( student.totalLimit ) ? student.totalLimit|number_format(2, ',') ~ ' ₴' : '-' }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'student.daily_limit.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ ( student.dailyLimit ) ? student.dailyLimit|number_format(2, ',') ~ ' ₴' : '-' }}</p>
                </div>
            </li>
        </ul>
    </div>

    {% if student.customer|length %}
        <div class="separator-holder">
            <h2>Родитель ученика</h2>
        </div>

        {% include 'AppBundle:Entity/Customer/Binding:ancestors.html.twig' with { 'sibling': student } only %}
    {% endif %}

    {% if student.employee|length %}
        <div class="separator-holder shift small-top">
            <h2>Сотрудник, который зарегистрировал ученика</h2>
        </div>

        {% include 'AppBundle:Entity/Employee/Binding:ancestors.html.twig' with { 'sibling': student } only %}
    {% endif %}
{% endblock %}
