{# AppBundle/Resources/views/Entity/Student/CRUD/updateItem.html.twig #}
{% extends 'AppBundle:Entity/Student/Base:item.html.twig' %}

{% block active_student_update %}{{ 'class="active"' }}{% endblock %}

{% block data %}

    {% include 'AppBundle:Entity/Student/Form:form.html.twig' with { 'form': form, 'student': student } only %}

    {% if student.customer|length %}
        <div class="separator-holder">
            <h2>Родитель ученика</h2>
        </div>

        {% include 'AppBundle:Entity/Customer/Binding:ancestors.html.twig' with { 'sibling': student } only %}
    {% endif %}

    {% if student.employee|length %}
        <div class="separator-holder">
            <h2>Сотрудник, который зарегистрировал ученика</h2>
        </div>

        {% include 'AppBundle:Entity/Employee/Binding:ancestors.html.twig' with { 'sibling': student } only %}
    {% endif %}

{% endblock %}

{% block action_bottom %}
    <div id="action-holder" class="manage-holder">

        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\StudentVoter::STUDENT_DELETE'), student) %}
            <div class="btn-delete black">
                <a href="{{ path('student_delete', { 'id': student.id }) }}" class="icon hrd-delete"></a>
            </div>
        {% endif %}

        {% if student_boundless_access.isGranted(constant('AppBundle\\Service\\Security\\StudentBoundlessAccess::STUDENT_READ')) %}
            <button type="submit" form="student-form" name="{{ form.update_and_return.vars.full_name }}" class="btn-save back">
                <span>{{ form.update_and_return.vars.label|trans({}, 'forms') }}</span>
            </button>
        {% endif %}

        <button type="submit" form="student-form" name="{{ form.update.vars.full_name }}" class="btn-save">
            <span>{{ form.update.vars.label|trans({}, 'forms') }}</span>
        </button>
    </div>
{% endblock %}