{# AppBundle/Resources/views/Entity/Settlement/Binding/choose.html.twig #}
{% extends 'AppBundle:Entity/Settlement:list.html.twig' %}

{% block action %}
    <input type="submit" name="settlementId" value="{{ settlement.id }}" form="settlementForm">
{% endblock %}

{% block button %}
    <form action="{{ path('settlement_bind') }}" id="settlementForm" method="POST">
        <input type="hidden" name="objectClass" value="{{ objectClass }}">
        <input type="hidden" name="objectId" value="{{ objectId }}">
    </form>
    <a href="{{ path('region_update', { 'id': objectId }) }}">Done</a>
{% endblock %}

{% extends 'AppBundle:Entity/Settlement/Base:table.html.twig' %}

{% block action_items_th %}
    <th colspan="2" class="double-small-fixed">
        <span>управление</span>
    </th>
{% endblock %}

{% block action_items_tr %}
    <td class="small-fixed edit-holder">
        <div class="btn-edit">
            <a href="{{ path('settlement_update', { 'id': settlement.id }) }}" class="icon hrd-edit"></a>
        </div>
    </td>

    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\SettlementVoter::SETTLEMENT_BIND'), settlement) %}
        <td class="small-fixed bind-holder">
            <div class="btn-bind" data-path="{{ path('settlement_bind', { 'id': settlement.id, 'objectClass': objectClass, 'objectId': objectId }) }}">
                <a href="#" class="icon hrd-bind"></a>
            </div>
        </td>
    {% endif %}
{% endblock %}

{% block action_button %}
    <div id="action-holder">
        <div id="action-holder" class="manage-holder">
            <div class="btn-connect">
                <a href="{{ path('region_update_bounded', { 'objectId': objectId, 'objectClass': 'region' }) }}">Готово</a>
            </div>
        </div>
    </div>
{% endblock %}