{# AppBundle/Resources/views/Entity/Settlement/Binding/choose.html.twig #}
{% extends 'AppBundle:Entity/Settlement/Base:table.html.twig' %}

{% block action_items_th %}
    <th class="double-small-fixed">
        <span>управление</span>
    </th>
{% endblock %}

{% block action_items_tr %}

    <td class="double-small-fixed edit-holder double-btn">

        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\SettlementVoter::SETTLEMENT_UPDATE'), settlement) %}
            <div class="btn-edit">
                <a href="{{ path('settlement_update', { 'id': settlement.id }) }}" class="icon hrd-edit"></a>
            </div>
        {% else %}
            <div class="btn-view">
                <a href="{{ path('settlement_read', { 'id': settlement.id }) }}" class="icon hrd-view"></a>
            </div>
        {% endif %}

        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\SettlementVoter::SETTLEMENT_BIND'), settlement) %}

            {% set isBinded = object.settlements.contains(settlement) %}

            <div class="btn-bind {{ ( isBinded ) ? 'binded' : null }}">

                {% set path = ( isBinded ) ? 'settlement_unbind' : 'settlement_bind' %}

                <a href="{{ path(path, { 'targetId': settlement.id, 'objectClass': class(object)|lower, 'objectId': object.id }) }}" class="icon hrd-bind"></a>
            </div>
        {% endif %}

    </td>

{% endblock %}

{% block action_button %}
    <div id="action-holder">
        <div id="action-holder" class="manage-holder">
            <div class="btn-connect">
                <a href="{{ path(path, { 'objectId': object.id, 'objectClass': class(settlements.0)|lower }) }}">Готово</a>
            </div>
        </div>
    </div>
{% endblock %}