{# AppBundle/Resources/views/Entity/Employee/CRUD/updateItem.html.twig #}
{% extends 'AppBundle:Entity/Employee/Base:item.html.twig' %}

{% block active_employee_update %}{{ 'class="active"' }}{% endblock %}

{% block data %}

    {% include 'AppBundle:Entity/Employee/Form:form.html.twig' with { 'form': form, 'employee': employee } only %}

{% endblock %}

{% block action_bottom %}
    <div id="action-holder" class="manage-holder">

        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\EmployeeVoter::EMPLOYEE_DELETE'), employee) %}
            <div class="btn-delete black">
                <a href="{{ path('employee_delete', { 'id': employee.id }) }}" class="icon hrd-delete"></a>
            </div>
        {% endif %}

        {% if employee_boundless_access.isGranted(constant('AppBundle\\Service\\Security\\EmployeeBoundlessAccess::EMPLOYEE_READ')) %}
            <button type="submit" form="employee-form" name="{{ form.update_and_return.vars.full_name }}" class="btn-save back">
                <span>{{ form.update_and_return.vars.label|trans({}, 'forms') }}</span>
            </button>
        {% endif %}

        <button type="submit" form="employee-form" name="{{ form.update.vars.full_name }}" class="btn-save">
            <span>{{ form.update.vars.label|trans({}, 'forms') }}</span>
        </button>
    </div>
{% endblock %}