{# AppBundle/Resources/views/Dashboard/Security/Login/form.html.twig #}
<form action="{{ path('employee_dashboard_login_check') }}" method="POST" id="auth-form">

    {% if error %}
        <div class="message-holder error-active"><p>{{ error.messageKey|trans(error.messageData, 'security') }}</p></div>
    {% endif %}

    <div class="field-holder">
        <input type="text" name="_username" id="auth-user-email" value="{{ lastUsername }}"
               placeholder="Введите ваш логин"
               data-rule-required="true" data-msg-required="{{ 'employee.authentication.username.not_blank'|trans({}, 'validators') }}">
        <label for="auth-user-email"><span class="icon hrd-user"></span></label>
    </div>

    <div class="field-holder">
        <input type="password" name="_password" id="auth-user-password"
               placeholder="Введите ваш пароль"
               data-rule-required="true" data-msg-required="{{ 'employee.authentication.password.not_blank'|trans({}, 'validators') }}">
        <label for="auth-user-password"><span class="icon hrd-lock"></span></label>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button type="submit">
        <span>Войти</span>
    </button>
</form>