{# AppBundle/Resources/views/Entity/NfcTag/Form/form.html.twig #}
{% form_theme form 'AppBundle:Dashboard/Form/Theme:errors.html.twig' %}

<form action="{{ form.vars.action }}" method="POST" id="nfc-tag-form">
    <div class="field-holder">
        {{ form_widget(form.number, {
            'id': "nfc-tag-number",
            'attr': {
                'placeholder': "Введите номер",
                'data-rule-required': "true", 'data-msg-required': 'nfc_tag.number.not_blank'|trans({}, "validators"),
                'value': ( nfcTag is defined ) ? nfcTag.number
            }
        }) }}

        {{ form_label(form.number) }}

        {{ form_errors(form.number) }}
    </div>

    <div class="field-holder">
        {{ form_widget(form.code, {
            'id': "nfc-tag-code",
            'attr': {
                'placeholder': "Введите код",
                'data-rule-required': "true", 'data-msg-required': 'nfc_tag.code.not_blank'|trans({}, "validators"),
                'value': ( nfcTag is defined ) ? nfcTag.code
            }
        }) }}

        {{ form_label(form.code) }}

        {{ form_errors(form.code) }}
    </div>

    {% do form.vendingMachine.setRendered %}

    <div class="select-holder">
        <div class="btn-select">
            <a href="#">
                <div class="title-holder">
                    <span class="title">{{ form.vendingMachine.vars.label|trans({}, 'forms') }}</span>
                    <span class="icon hrd-list"></span>
                </div>
                <span class="text">{{ ( form.vendingMachine.vars.data ) ? form.vendingMachine.vars.data.choiceLabel : form.vendingMachine.vars.placeholder|trans({}, 'forms') }}</span>
            </a>
        </div>

        {% for error in form.vendingMachine.vars.errors %}
            <span class="error-holder">{{ error.message }}</span>
        {% endfor %}

        <div class="select-list">
            <div class="outer">
                <div class="inner">
                    <ul>
                        <li class="option-item {{ ( form.vendingMachine.vars.data is null ) ? 'active' : null }}" data-option="{{ null }}">
                            <span class="option-name">{{ 'common.choice.empty_value'|trans({}, 'forms') }}</span>
                        </li>
                        {% for vendingMachine in form.vendingMachine.vars.choices %}
                            <li class="option-item {{ ( form.vendingMachine.vars.data ) ? ( form.vendingMachine.vars.data.id != vendingMachine.value ) ?: 'active' : null }}" data-option="{{ vendingMachine.value }}">
                                <span class="option-name">{{ vendingMachine.label }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <input type="hidden" name="{{ form.vendingMachine.vars.full_name }}" value="{{ ( form.vendingMachine.vars.data ) ? form.vendingMachine.vars.data.id : null }}">
    </div>

    {{ form_widget(form._token) }}
</form>