{# AppBundle/Resources/views/Entity/Student/Base/item.html.twig #}
{% extends 'AppBundle:Entity/Student:layout.html.twig' %}

{% block action_top %}
    <div class="inner categories-list-holder">
        <ul>
            <li {% block active_student_update %}{% endblock %}>
                <a href="{{ path('student_update', { 'id': student.id }) }}">Данные</a>
            </li>
            <li {% block active_student_update_bounded_nfc_tag %}{% endblock %}>
                <a href="{{ path('student_update_bounded', { 'objectId': student.id, 'objectClass': 'nfctag' }) }}">
                    {{ 'nfc_tag_read'|trans({}, 'routes') }}
                </a>
            </li>
            <li {% block active_student_update_bounded_product %}{% endblock %}>
                <a href="{{ path('student_update_bounded', { 'objectId': student.id, 'objectClass': 'product' }) }}">
                    {{ 'product_read_restricted'|trans({}, 'routes') }}
                </a>
            </li>
            <li {% block active_student_update_bounded_purchase %}{% endblock %}>
                <a href="{{ path('student_update_bounded', { 'objectId': student.id, 'objectClass': 'purchase' }) }}">
                    {{ 'purchase_read'|trans({}, 'routes') }}
                </a>
            </li>
            <li {% block active_student_update_bounded_payment_receipt %}{% endblock %}>
                <a href="{{ path('student_update_bounded', { 'objectId': student.id, 'objectClass': 'paymentreceipt' }) }}">
                    {{ 'payment_receipt_read'|trans({}, 'routes') }}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
