{# AppBundle/Resources/views/Entity/Region/Binding/choose.html.twig #}
{% extends 'AppBundle:Entity/Region/Base:table.html.twig' %}

{% block action_items_th %}
    <th colspan="2" class="double-small-fixed">
        <span>управление</span>
    </th>
{% endblock %}

{% block action_items_tr %}

    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\RegionVoter::REGION_UPDATE'), region) %}
        <td class="small-fixed edit-holder">
            <div class="btn-edit">
                <a href="{{ path('region_update', { 'id': region.id }) }}" class="icon hrd-edit"></a>
            </div>
        </td>
    {% else %}
        <td class="small-fixed view-holder">
            <div class="btn-view">
                <a href="{{ path('region_read', { 'id': region.id }) }}" class="icon hrd-view"></a>
            </div>
        </td>
    {% endif %}

    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\RegionVoter::REGION_BIND'), region) %}
        <td class="small-fixed bind-holder">

            {% set isBinded = object.regions.contains(region) %}

            <div class="btn-bind {{ ( isBinded ) ? 'binded' : null }}">

                {% set path = ( isBinded ) ? 'region_unbind' : 'region_bind' %}

                <a href="{{ path(path, { 'targetId': region.id, 'objectClass': class(object)|lower, 'objectId': object.id }) }}" class="icon hrd-bind"></a>
            </div>
        </td>
    {% endif %}

{% endblock %}

{% block action_button %}
    <div id="action-holder">
        <div id="action-holder" class="manage-holder">
            <div class="btn-connect">
                <a href="{{ path(path, { 'objectId': object.id, 'objectClass': class(regions.0)|lower }) }}">Готово</a>
            </div>
        </div>
    </div>
{% endblock %}