{# src/AppBundle/Resources/views/Office/Payment/replenish.html.twig #}
{% extends 'AppBundle:Office:layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'customer_office.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('customer_office_replenish') }}">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/website/css/replenish.bundle.min.css') }}">
{% endblock %}

{% block content %}
    <main id="content">
        <section class="outer replenish-holder">
            <h1>Поповнення рахунку без реєстрації</h1>
            <h2>для клієнтів компанії</h2>
            <span class="sprtr-h"></span>

            {% include 'AppBundle:Office/Payment/Replenish:form.html.twig' %}

        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/website/js/replenish.bundle.min.js') }}"></script>
{% endblock %}
