{# AppBundle/Resources/views/Entity/Purchase/CRUD/readItem.html.twig #}
{% extends 'AppBundle:Entity/Purchase/Base:item.html.twig' %}

{% block active_purchase_update %}{{ 'class="active"' }}{% endblock %}

{% block data %}
    <div id="read-data-holder">
        <ul>

            <div class="separator-holder">
                <h2>Данные, зафиксированные в системе на момент синхронизации</h2>
            </div>

            <li>
                <div class="item key">
                    <span>{{ 'purchase.sync.purchased_at.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ purchase.syncPurchasedAt|date('Y-m-d H:i:s') }}</p>
                </div>
            </li>

            <li>
                <div class="item key">
                    <span>{{ 'purchase.product_name.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value btn-holder">
                    {% if purchase.product %}
                        <p>{{ purchase.product.nameFull }}</p>

                        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\ProductVoter::PRODUCT_READ'), purchase.product) %}
                            <div class="btn-view">
                                <a href="{{ path('product_update', { 'id': purchase.product.id }) }}" class="icon hrd-view"></a>
                            </div>
                        {% endif %}

                    {% else %}
                        <p>-</p>
                    {% endif %}
                </div>
            </li>

            <li>
                <div class="item key">
                    <span>{{ 'purchase.product_id.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ ( purchase.product ) ? purchase.product.id : '-' }}</p>
                </div>
            </li>

            <li>
                <div class="item key">
                    <span>{{ 'purchase.product_price.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ ( purchase.product ) ? purchase.product.price|number_format(2, ',') : '-' }}</p>
                </div>
            </li>

            <li>
                <div class="item key">
                    <span>{{ 'purchase.vending_machine_choice_label.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value btn-holder">
                    {% if purchase.vendingMachine %}
                        <p>{{ purchase.vendingMachine.choiceLabel }}</p>

                        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\VendingMachineVoter::VENDING_MACHINE_READ'), purchase.vendingMachine) %}
                            <div class="btn-view">
                                <a href="{{ path('vending_machine_update', { 'id': purchase.vendingMachine.id }) }}" class="icon hrd-view"></a>
                            </div>
                        {% endif %}

                    {% else %}
                        <p>-</p>
                    {% endif %}
                </div>
            </li>

            <li>
                <div class="item key">
                    <span>{{ 'purchase.nfc_tag_number.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value btn-holder">
                    {% if purchase.nfcTag %}
                        <p>{{ purchase.nfcTag.number }}</p>

                        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\NfcTagVoter::NFC_TAG_READ'), purchase.nfcTag) %}
                            <div class="btn-view">
                                <a href="{{ path('nfc_tag_update', { 'id': purchase.nfcTag.id }) }}" class="icon hrd-view"></a>
                            </div>
                        {% endif %}

                    {% else %}
                        <p>-</p>
                    {% endif %}
                </div>
            </li>

            <li>
                <div class="item key">
                    <span>{{ 'purchase.nfc_tag_code.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ ( purchase.nfcTag ) ? purchase.nfcTag.code : '-' }}</p>
                </div>
            </li>

            <li>
                <div class="item key">
                    <span>{{ 'purchase.student.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value btn-holder">
                    {% if purchase.student %}
                        <p>{{ purchase.student.fullName }}</p>

                        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\StudentVoter::STUDENT_READ'), purchase.student) %}
                            <div class="btn-view">
                                <a href="{{ path('student_update', { 'id': purchase.student.id }) }}" class="icon hrd-view"></a>
                            </div>
                        {% endif %}

                    {% else %}
                        <p>-</p>
                    {% endif %}
                </div>
            </li>

            <li>
                <div class="item key">
                    <span>{{ 'purchase.customer.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value btn-holder">
                    {% if purchase.student and purchase.student.customer %}
                        <p>{{ purchase.student.customer.fullName }}</p>
                        <div class="btn-view">
                            <a href="{{ path('customer_update', { 'id': purchase.student.customer.id }) }}" class="icon hrd-view"></a>
                        </div>
                    {% else %}
                        <p>-</p>
                    {% endif %}
                </div>
            </li>

            <div class="separator-holder">
                <h2>Данные, полученные от торгового автомата</h2>
            </div>

            <li>
                <div class="item key">
                    <span>{{ 'purchase.sync.product_id.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ purchase.syncProductId }}</p>
                </div>
            </li>

            <li>
                <div class="item key">
                    <span>{{ 'purchase.sync.nfc_tag_code.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ purchase.syncNfcTagCode }}</p>
                </div>
            </li>

            <li>
                <div class="item key">
                    <span>{{ 'purchase.sync.product_price.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ purchase.syncProductPrice }}</p>
                </div>
            </li>

        </ul>
    </div>
{% endblock %}
