{# AppBundle/Resources/views/Entity/Region/CRUD/readList.html.twig #}
{% extends 'AppBundle:Entity/Region/Base:table.html.twig' %}

{% block action_items_th %}
    <th class="double-small-fixed">
        <span>управление</span>
    </th>
{% endblock %}

{% block action_items_tr %}

    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\RegionVoter::REGION_UPDATE'), region) %}

        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\RegionVoter::REGION_DELETE'), region) %}
            <td class="double-small-fixed edit-holder double-btn">
                <div class="btn-edit">
                    <a href="{{ path('region_update', { 'id': region.id }) }}" class="icon hrd-edit"></a>
                </div>
                <div class="btn-delete">
                    <a href="{{ path('region_delete', { 'id': region.id }) }}" class="icon hrd-delete"></a>
                </div>
            </td>
        {% else %}
            <td class="double-small-fixed edit-holder">
                <div class="btn-view">
                    <a href="{{ path('region_update', { 'id': region.id }) }}" class="icon hrd-edit"></a>
                </div>
            </td>
        {% endif %}
        
    {% else %}
        <td class="double-small-fixed view-holder">
            <div class="btn-view">
                <a href="{{ path('region_read', { 'id': region.id }) }}" class="icon hrd-view"></a>
            </div>
        </td>
    {% endif %}

{% endblock %}

{% block action_button %}
    {% if region_boundless_access.isGranted(constant('AppBundle\\Service\\Security\\RegionBoundlessAccess::REGION_CREATE')) %}
        <div id="action-holder">
            <div class="btn-add">
                <a href="{{ path('region_create') }}">
                    <span class="icon hrd-add"></span>Добавить
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}