{# AppBundle/Resources/views/Entity/Customer/CRUD/readItem.html.twig #}
{% extends 'AppBundle:Entity/Customer/Base:item.html.twig' %}

{% block active_customer_update %}{{ 'class="active"' }}{% endblock %}

{% block data %}
    <div id="read-data-holder">
        <ul>
            <li>
                <div class="item key">
                    <span>{{ 'customer.phone_number.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ customer.phoneNumber }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'customer.surname.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ customer.surname }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'customer.name.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ customer.name }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'customer.patronymic.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ customer.patronymic}}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'customer.email.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ customer.email }}</p>
                </div>
            </li>
            <li>
                <div class="item key">
                    <span>{{ 'customer.is_enabled.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <span class="icon {{ ( customer.isEnabled ) ? 'hrd-accept' : 'hrd-cancel'  }}"></span>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}