{# AppBundle/Resources/views/Entity/Customer/Binding/ancestors.html.twig #}
{% if sibling.customer is defined and sibling.customer is not null %}
    <p>
        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\CustomerVoter::CUSTOMER_UPDATE'), sibling.customer) %}
            <a href="{{ path('customer_update', { 'id': sibling.customer.id }) }}">{{ sibling.customer.name }}</a>
        {% else %}
            <a href="{{ path('customer_read', { 'id': sibling.customer.id }) }}">{{ sibling.customer.name }}</a>
        {% endif %}
    </p>
{% elseif sibling.customers is defined %}
    {% for customer in sibling.customers %}
        <p>
            {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\CustomerVoter::CUSTOMER_UPDATE'), customer) %}
                <a href="{{ path('customer_update', { 'id': customer.id }) }}">{{ customer.name }}</a>
            {% else %}
                <a href="{{ path('customer_read', { 'id': customer.id }) }}">{{ customer.name }}</a>
            {% endif %}
        </p>
    {% endfor %}
{% else %}
    No customers
{% endif %}